/*===========================================
	Main content layout styles
=============================================*/
.page-content{
	
}

.section-title{
	font-size: $font-xl;
	line-height: normal;
	margin-bottom: $default-space;
	text-align: left;
	.highlight-txt{
		padding-top: 5px;
	}
	@media screen and (max-width: $break-lg){
		font-size: $font-lg;
	}
	@media screen and (max-width: $break-md){
		margin-bottom: $default-space;
		br{
			display: none;
		}
	}
}

.back-btn{
	margin: $default-space 0;
	text-align: left;
	a{
		color: $white;
		padding: 9px 16px;
		display: inline-block;
		background: $gray-dark;
		i{
			margin-right: 10px;
		}
		&:hover{
			background: $main-color;
			color: $gray-dark;
		}
	}
}

.hero-section{
	padding-bottom: $default-space;
	@media screen and (max-width: $break-sm){
		text-align: center;
	}
	
	.hero-caption{
		display: flex;
		align-items: center;
		h2{
			font-size: $font-xxl;
			line-height: normal;
			margin: 0;
		}

		@media screen and (max-width: $break-lg){
			min-height: 0;
			h2{
				font-size: $font-xl;
				br{
					display: none;
				}
			}
		}
		@media screen and (max-width: $break-md){
			h2{
				font-size: $font-lg;
			}
		}	
	}

}


.page-copyrights{
	padding: 20px 0;
	font-size: $font-sm;
	font-weight: $font-bold;
	color: $gray-dark;
	line-height: normal;
	.copyright-txt , .mail , .social{
		display: flex;
		align-items: center;
	}
	.copyright-txt{

	}
	.mail{
		justify-content: center;
		span{
			display: inline-block;
			background: $gray-dark;
			color: $white;
			padding: 8px 15px;
		}
	}
	.social{
		justify-content: flex-end;
		a{
			font-size: 24;
			padding: 0 10px;
		}
	}

	@media screen and (max-width: $break-md){
		.copyright-txt , .mail , .social{
			display: block;
			text-align: center;
		}
		.mail{
			margin: 10px 0;
		}
	}
}

.owl-carousel{
	.owl-nav{
		button{
			&.owl-prev, &.owl-next{
				@include border-radius(4px);
				width: 48px;
				height: 48px;
				border: 3px solid $white;
				box-shadow: 4px 4px 0px $white;
				background-repeat: no-repeat;
				background-position: center;
				background-color: #16181c;
				span{
					display: none;
				}
				&:hover{
					background-color: rgba($white, .1);
				}
			}
			&.owl-prev{
				background-image: url('../images/icons/arrow-left-small-white.svg');
			}
			&.owl-next{
				background-image: url('../images/icons/arrow-right-small-white.svg');
			}	
		}
	}
	.owl-dots{
		display: none;
	}
}

.carousel-nav{
	text-align: right;
	.btn{
		position: static;
		width: 48px;
		padding-left: 0;
		padding-right: 0;
		display: inline-block;
		line-height: 16px;
		margin-left: 10px;
		opacity: 1;
		position: relative;
		top: 0;
		left: 0;
		z-index: 100;
		img{
			margin: 0;
		}
	}
}

.mobile-show{
	display: none;
	@media screen and (max-width: $break-sm){
		display: block;
	}
}

.tab-show{
	display: none;
	@media screen and (max-width: $break-lg){
		display: block;
	}
}

.mobile-hide{
	@media screen and (max-width: $break-sm){
		display: none;
	}
}

.tab-hide{
	@media screen and (max-width: $break-lg){
		display: none;
	}
}