/*===========================================
	Footer styles
=============================================*/
#footer{
	background: $black-light;
	padding: $default-space*3 0;

	.footer-list{
		list-style: none;
		padding: 0;
		margin: 0;
		margin-bottom: 30px;
		li{
			&.footer-list-title{
				margin-bottom: 20px;
				strong{
					color: $white;
					background: $gray;
					font-weight: $font-bold;
					padding: 5px 15px;
					display: inline-block;
				}
			}
			&.footer-address{
				color: $white;
				line-height: 26px;
				font-size: $font-sm;
			}
			a{
				color: $white;
				line-height: 33px;
				font-size: $font-sm;
				&:hover{
					color: $main-color;
				}
			}
		}
	}

	.footer-rating{
		margin-top: 80px;
	}

	.footer-copyright{
		margin-top: $default-space*2;
		color: $white;
		font-size: $font-xs;
		line-height: normal;
		font-weight: $font-bold;
		.copyright-txt{
			letter-spacing: 0.09em;
		}
		.copyright-links{
			text-align: right;
			a{
				color: $white;
				margin-left: 125px;
				&:first-child{
					margin: 0;
				}
			}
		}

		@media screen and (max-width: $break-md){
			margin-top: 0;
			text-align: center;
			.copyright-links{
				text-align: center;
				margin-top: 20px;
				a{
					margin-left: 20px;
					&:first-child{
						margin: 0;
					}
				}
			}
		}
	}

	.container{
		position: relative;
	}
	.back-to-top{
		position: absolute;
		top: 30px;
		right: 0;
		width: 16px;
		height: 101px;
		background: url('../images/Back to top.svg');
		display: inline-block;
		cursor: pointer;
		z-index: 1;
		&:hover{
			opacity: .8;
		}
	}

	@media screen and (max-width: $break-lg){
		padding: 30px 0;
	}
}