/*===========================================
	Header styles
=============================================*/
#header{
	padding: $default-space 0;
	position: fixed;
	height: 100px;
	width: 100%;
	top: 0;
	left: 0;
	background: $white;
	z-index: 300;
	transition: all 0.5s;

	&.header-up{
		top: -100px;
	}
	.logo{
		h1{
			margin: 0;
		}
		img{
			width: 172px;
		}
	}
	.mobile-menu{
		display: none;
	}
	.main-nav{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		ul{
			list-style: none;
			display: flex;
			li{
				padding: 0 10px;
				display: flex;
				align-items: center;
				a{
					font-size: $font-sm;
					font-weight: $font-bold;
					text-transform: capitalize;
					&:not(.btn){
						padding: 0 10px;
						position: relative;
						line-height: $font-lg;

					}
					&.active{
						color: $gray-dark;
						&:after{
							content:"";
							height: 3px;
							background: $gray-dark;
							width: 100%; 
							position: absolute;
							left: 0;
							bottom: -3px;
							display: block;
						}
					}
				}
				&.nav-button{
					padding-right: 0;
					@media screen and (max-width: $break-lg){
						.btn{

							padding: 12px 15px;
						}
					}
				}
			}
		}
	}
	@media screen and (max-width: $break-md){
		.logo{
			max-width: 100%;
			flex: 0 0 100%;
		}
		.mobile-menu{
			display: block;
			position: absolute;
			right: 20px;
			top: 20px;
		}	
		.main-nav{
			display: block;
			padding: 0;
			width: calc(100vw - 30px);
			margin-top: 10px;
			ul{
				height: 0;
				overflow: hidden;
				width: 100%;
				&.show{
					height: auto;
					overflow: hidden;
					background: $gray-lighter;
					text-align: center;
					flex-direction: column;
					/*transition: all 0.5s ease;
					-moz-transition: all 0.5s ease;
					-webkit-transition: all 0.5s ease;
					margin-top: $default-space/2;*/
					li{
						justify-content: center;
						padding: 0;
						&.nav-button{
							padding: $default-space;
							padding-top: $default-space/2;
						}
						a{
							display: block;width: 100%;
							&:not(.btn){
								padding: $default-space/2 $default-space;
								color: $gray;
								-moz-transition: none;
								-webkit-transition: none;
								margin-top: none;
								&:hover{
									background: $main-color;
									color: $white;
								}
								&.active{
									background: rgba($gray-light, .1);
									color: $gray-dark;;
									&:after{
										display: none;
									}
								}
							}
						}
						.btn{
							display: block;
						}
					}
					
				}
			}
		}
	}
}

