/*===========================================
	All blocks styles
=============================================*/
/* Margin and padding */
.no-margin{
	margin: 0;
}
.topmargin-sm{
	margin-top: $default-space/2
}
.topmargin{
	margin-top: $default-space;
}
.topmargin-lg{
	margin-top: $default-space*2;
}
.topmargin-xl{
	margin-top: $default-space*3;
}

.btmmargin-sm{
	margin-bottom: $default-space/2
}
.btmmargin{
	margin-bottom: $default-space;
}
.btmmargin-lg{
	margin-bottom: $default-space*2;
}
.btmmargin-xl{
	margin-bottom:$default-space*3;
}

.no-padding{
	padding: 0;
}

/* Text color*/
.caps-txt{
	text-transform: uppercase;
}
.gray-txt{
	color: $gray;
}
.pink-txt{
	color: $pink-color;
}
.blue-txt{
	color: $sec-color;
}
.cyan-txt{
	color: $sec-color;
}
.yellow-txt{
	color: $yellow-color;
}
.orange-txt{
	color: $orange-color;
}
.purple-txt{
	color: $purple-color;
}
.green-txt{
	color: $green-color;
}
.red-txt{
	color: $red-color;
}

.highlight-txt{
	padding: 0 5px;
	&.yellow-highlight{
		background: $main-color;
	}

	&.white-highlight{
		background: $white;
	}

	&.gray-highlight{
		background: $gray;
	}
}

