/*===========================================
	All buttons styles styles
=============================================*/
.btn{
	@include border-radius(4px);
	padding: 12px 24px;
	font-size: $font-sm;
	font-weight: $font-bold;
	height: 56px;
	text-transform: capitalize;

	img{
		margin-left: 15px;
		display: inline-block !important;
		width: auto !important;
	}

	&:disabled{
		cursor: not-allowed;
	}

	&.btn-lg{
		height: 72px;
		line-height: 42px;
		font-size: $font-md;
		@media screen and (max-width: $break-md){
			font-size: $font-sm;
		}
	}

	&.btn-sm{
		height: 48px;
	}

	&.btn-border{
		background: $white;
		border: 3px solid $gray-dark;
		color: $gray-dark;
		box-shadow: 4px 4px 0px $gray-dark;
		&:hover{
			background: $gray-lighter;
		}
	}

	&.btn-light{
		background: transparent;
		border-color: $white;
		color: $white;
		box-shadow: 4px 4px 0px $white;
		&:hover{
			background: rgba($white , .2);
		}
	}

}

.btn-primary{
	background: $main-color;
	border-color: $main-color;
	&:hover{
		background: $sec-color;
		border-color: $sec-color;
	}
}

.btn-secondary{
	background: $green-color;
	border-color: $green-color;
	&:hover{
		background: $main-color;
		border-color: $main-color;
	}
}

.btn-rouned{
	@include border-radius(30px);	
}






