.popup-body{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 500;
	background: rgba($black , .7);
	display: flex;
	padding: $default-space;
	.popup-content{
		background: $white;
		@include border-radius(4px);
		border: 1px solid $border-color;
		position: relative;
		padding: $default-space;
		.close-popup{
			@include border-radius(100%);
			position: absolute;
			right: -17px;
			top: -17px;
			background: $gray-light;
			color: $white;
			padding: 5px;
			width: 33px;
			height: 33px;
			&:hover{
				background: $gray;
			}
		}
	}
	&.confirm-popup{
		justify-content: center;
		align-items: center;
		.popup-content{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			min-height: 300px;
			max-width: 450px;
			text-align: center;
			@media screen and (min-width: $break-md){
				width: 450px;
			}
			span{
				color: $green-color;
				@include border-radius(100%);
				border: 3px solid $green-color;
				font-size: $font-xl;
				padding: $default-space;
			}
			p{
				margin-bottom: 0;
				font-size: $font-md;
				margin-top: $default-space;
			}
		}
	}

	&.error-popup{
		.popup-content{
			span{
				color: $red-color;
				border-color: $red-color;
			}
			p{
				color: $red-color;
			}
		}			
	}
}