html {
    width: 100%;
    /*    overflow: hidden;*/
    /*    height: 100%;*/
}

body,
.wrapper {
    width: 100%;
    margin: 0;
    /*    overflow: auto;*/
}

body {
    /*
    height: 100%;
    min-height: 100%;
*/
    
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #414142;
    font-size: 16px;
}

.wrapper {
    overflow: hidden;
}
/*------------------------ << --------------------- GENERAL */

.green {
    background: rgba(0, 255, 0, 0.5);
}

.blue {
    background: rgba(0, 0, 255, 0.5);
}

.red {
    background: rgba(255, 0, 0, 0.5);
}

.yellow {
    background: rgba(255, 255, 0, 0.5);
}

h1 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

section {
    padding: 60px 0;
}

section h2 {
    margin: 0 auto 36px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
}

h3,
h4 {
    font-weight: bold;
    font-size: 20px;
}

p {}

a,
.btn,
.button,
button {
    outline: 0 !important;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

a {
    color: #a4c93d;
    text-decoration: none;
}

a:hover {
    color: #1b75bb;
    text-decoration: none;
}

.back {
    height: 62px;
}

.back a span {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 62px;
    margin-left: 6px;
    vertical-align: middle;
}

.back a i {
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.wrapper img {
    display: block;
    max-width: 100%;
    height: auto;
}

.button {
    cursor: pointer;
    display: inline-block;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    padding: 9px 52px;
    font-weight: 700;
    color: #fff;
    background-color: #a3c83c;
}

.button:hover,
.button:active,
.button:focus {
    text-decoration: none !important;
    color: #fff;
    background-color: #1b75bb;
}

.video {
    display: block;
    margin: 25px auto;
    position: relative;
    padding-bottom: 66.25%;
    height: 0;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

.gplay-btn,
.appstore-btn {
    display: block;
    width: 130px;
    height: 43px;
}

.gplay-btn {
    background: url(../img/google-play.png) center center no-repeat;
}

.appstore-btn {
    background: url(../img/app-store.png) center center no-repeat;
}
/*----------------------------------------------------------- */
/*------------------------ << --------------------- LOADER */

@-webkit-keyframes fliploader {
    0% {
        -webkit-transform: rotate3d(0, 1, 0, -360deg);
                transform: rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
    }
    100% {
        -webkit-transform: rotate3d(0, 1, 0, 0deg);
                transform: rotate3d(0, 1, 0, 0deg);
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
    }
}

@keyframes fliploader {
    0% {
        -webkit-transform: rotate3d(0, 1, 0, -360deg);
                transform: rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
    }
    100% {
        -webkit-transform: rotate3d(0, 1, 0, 0deg);
                transform: rotate3d(0, 1, 0, 0deg);
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
    }
}

.loader {
    background: none repeat scroll 0 0 #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    background: #fff;
}

.loader_inner {
    background-image: url("../img/loader.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-posirion: center center;
    height: 40px;
    width: 35px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-animation-name: fliploader;
            animation-name: fliploader;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
}
/*----------------------------------------------------------- */
/*------------------------ << --------------------- NAVBAR */

.navbar-rubikal {
    border: none;
    border-radius: 0;
    position: relative;
    margin-bottom: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 1);
}

.cbp-af-header {
    background-color: rgba(255, 255, 255, 1);
}

.navbar-rubikal .container {
    position: relative;
    margin: 0 auto;
    padding: 0;
    height: 100%;
}

.navbar-rubikal .container .navbar-header,
.navbar-rubikal .container .navbar-collapse {
    margin-left: 0;
    margin-right: 0;
}

.navbar-rubikal .container .navbar-collapse {
    background-color: #fff;
}

.navbar-rubikal a.navbar-logo {
    display: block;
    padding: 12px 7px;
    max-width: 70%;
}

.navbar-rubikal .navbar-nav {
    margin: 0 auto;
    white-space: nowrap;
}

.navbar-rubikal .navbar-toggle {
    margin: 17px 17px 17px 0;
}

.navbar-rubikal .navbar-nav > li > a {
    line-height: normal;
    text-align: center;
    padding: 10px 0;
}

@media (min-width: 768px) {
    .navbar-rubikal .container {
        display: table;
    }
    .navbar-rubikal .container .navbar-header {
        display: table-cell;
        width: 100%;
        margin: 0;
    }
    .navbar-rubikal a.navbar-logo {
        padding: 0;
        margin: 14px 10px 14px 0;
        max-width: none;
        -webkit-transition: all .3s ease-in;
                transition: all .3s ease-in;
    }
    .navbar-rubikal .container .navbar-collapse {
        display: table-cell !important;
        height: 100% !important;
        margin: 0;
        padding: 0;
        position: static !important;
        vertical-align: middle;
    }
    .navbar-rubikal .navbar-nav {
        text-align: right;
        width: 100%;
    }
    .navbar-rubikal .navbar-nav > li {
        display: inline-block;
        float: none;
        margin-left: -1px;
        margin-right: -2px;
    }
    .navbar-rubikal .navbar-nav > li:last-child {
        margin-left: -2px;
    }
    .navbar-rubikal .navbar-nav > li > a {
        padding: 25px 10px;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        -webkit-transition: all .3s ease-in;
                transition: all .3s ease-in;
    }
    .cbp-af-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9000;
        height: 66px;
        -webkit-transition: all 0.3s ease-in;
                transition: all 0.3s ease-in;
    }
    .cbp-af-header.cbp-af-header-shrink {
        height: 40px;
    }
    .navbar-rubikal .container .navbar-collapse {
        background-color: transparent;
    }
    .navbar-rubikal.cbp-af-header-shrink a.navbar-logo {
        margin: 5px 10px 10px 0;
    }
    .navbar-rubikal.cbp-af-header-shrink .navbar-nav > li > a {
        padding: 17px 10px 17px;
    }
}

@media (min-width: 992px) {
    .navbar-rubikal .navbar-nav > li > a {
        width: 125px;
        padding: 25px 0;
    }
}
/* Changing Bootstrap Collapse breakpoint*/
/*
@media (max-width: 991px) {
    .navbar-rubikal .navbar-header {
        float: none;
    }
    .navbar-rubikal .navbar-left,
    .navbar-rubikal .navbar-right {
        float: none !important;
        margin-right: 0;
    }
    .navbar-rubikal .navbar-toggle {
        display: block;
    }
    .navbar-rubikal .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-rubikal .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-rubikal .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-rubikal .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-rubikal .navbar-nav>li {
        float: none;
    }
    .navbar-rubikal .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-rubikal .collapse.in {
        display: block !important;
    }
}
*/
/* End of Changing Bootstrap Collupse breakpoint*/

.navbar-rubikal .navbar-nav > li > a {
    color: #404041;
}

.navbar-rubikal .navbar-nav > li > a:hover,
.navbar-rubikal .navbar-nav > li > a:focus {
    color: #fff;
    background: #1b75bb;
}

.navbar-rubikal .navbar-toggle {
    border-color: #fff;
    background-color: #e7e7e7;
    border-radius: 0;
}

.navbar-rubikal .navbar-toggle:hover,
.navbar-rubikal .navbar-toggle:focus {
    background-color: #fff;
    border-color: #1b75bb;
}

.navbar-rubikal .navbar-toggle .icon-bar {
    background-color: #9b9b9b;
}

.navbar-rubikal .navbar-toggle:hover .icon-bar,
.navbar-rubikal .navbar-toggle:focus .icon-bar {
    background-color: #1b75bb;
}

.navbar-rubikal .navbar-collapse,
.navbar-rubikal .navbar-form {
    border-color: #e7e7e7;
}

.navbar-rubikal .navbar-nav > .open > a,
.navbar-rubikal .navbar-nav > .open > a:hover,
.navbar-rubikal .navbar-nav > .open > a:focus {
    color: #1abc9c;
    background-color: #e7e7e7;
}
/*----------------------------------------------------------- */
/*------------------------ << ------------------------ HOME */

.home {
    position: relative;
    padding-top: 20px;
    padding-bottom: 150px;
}

.home .col-sm-12 > div {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
}

.home .overlay {
    position: absolute;
    top: -100px;
    left: 0;
    bottom: -100px;
    right: 0;
    margin: auto;
    background-color: rgba(27, 117, 187, 0.8);
    z-index: 2;
}

.home .home-text {
    position: relative;
    z-index: 3;
    color: #fff;
    text-align: center;
}

.home img {
    margin: 0 auto;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
}

.home h1 {
    font-size: 26px;
    line-height: 120%;
    margin: 20px auto;
    font-weight: 700;
    text-transform: uppercase;
}

.home p {
    font-weight: 300;
    font-size: 18px;
}

.home p:nth-of-type(1) {
    font-weight: 700;
    font-size: 22px;
    margin: 0 auto 10px;
}

@media (min-width: 768px) {
    .home {
        padding-top: 36px;
        padding-bottom: 140px;
    }
    .home h1 {
        font-size: 36px;
        line-height: 120%;
        margin: 35px auto;
    }
    .home p {
        font-size: 20px;
    }
    .home p:nth-of-type(1) {
        font-size: 26px;
        max-width: 826px;
    }
}
/*----------------------------------------------------------- */
/*------------------------ << ------------------------ HOME-BOTTOM */

.notched {
    height: 10px;
    width: 100%;
    background: url(../img/zigzag.png) repeat-x;
    position: absolute;
    z-index: 3;
    top: -9px;
}

.home-bottom {
    background-color: #404041;
    border-bottom: solid 4px #a4c93d;
    position: relative;
    z-index: 3;
    padding: 0;
}

.home-bottom .container {
    top: -110px;
    position: relative;
    z-index: 5;
    margin-bottom: -110px;
}

.home-bottom .feature img {
    margin: 0 auto;
}

.home-bottom .feature {
    text-align: center;
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
}

.home-bottom .feature h3 {
    margin: 22px auto 12px;
    color: #1b75bb;
    text-transform: uppercase;
}

.home-bottom .feature p {
    color: #fff;
    padding-bottom: 20px;
}
/*----------------------------------------------------------- */
/*------------------------ << ------------------------ TECHNOLOGIES */

.technologies {
    padding-bottom: 29px;
    text-align: center;
    border-bottom: solid 4px #e7e7e7;
}

.technologies h2 {
    font-size: 20px;
}

.technologies img {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 16px;
}
/*----------------------------------------------------------- */
/*------------------------ << ------------------------ OUR WORK */

.our-works {
    border-bottom: solid 4px #1b75bb;
}

.our-works-carousel {
    height: 800px;
}

.our-works-carousel .item,
.our-works-carousel .active {
    height: 100%;
    width: 100%;
    text-align: center;
}
/*
@media (max-width: 413px),
(orientation: landscape) and (max-width: 667px),
(min-aspect-ratio: 750/600) and (max-width: 1024px) {
    .our-works-carousel,
    .our-works-carousel .item,
    .our-works-carousel .active {
        height: 670px;
    }
}
*/

@media (max-height: 479px) and (max-width: 479px) {
    .our-works-carousel {
        display: none;
    }
}

.our-works-carousel .carousel-inner {
    height: 100%;
    margin-left: 0;
    width: 100%;
    padding: 0;
}

.our-works-carousel .item {}

.our-works-carousel .work-container {
    padding-left: 20px;
    padding-right: 20px;
}

.our-works-carousel .work-container h3 {
    display: block;
    padding: 20px;
    background-color: #e7e7e7;
    margin-bottom: 25px;
    margin-top: 0;
}

.our-works-carousel .work-container p {
    margin: 12px 0;
}

.our-works-carousel .gplay-btn,
.our-works-carousel .appstore-btn {
    margin: 15px auto 25px;
}

.our-works-carousel .work-container .work-image a {
    background-color: #3d5580;
    position: relative;
}

.our-works-carousel .work-container .work-image a:after {
    content: '\f002';
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    font-size: 2.6em;
    line-height: .75em;
    vertical-align: -15%;
    color: #a4c93d;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
}

.our-works-carousel .work-container .work-image img {
    margin: 0 auto;
    width: 562px;
    -webkit-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
}

.our-works-carousel .work-container .work-image a:hover img {
    opacity: 0.35;
}

.our-works-carousel .work-container .work-image a:hover:after {
    opacity: 1;
}

.our-works-carousel .ccontrol {
    margin-left: 0;
    margin-right: 0;
}

.our-works-carousel .carousel-control {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: -5px;
    width: 18px;
    height: 80px;
    color: #e7e7e7;
    text-align: center;
    opacity: 0.8;
    -webkit-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
    text-shadow: none;
    font-size: 14px;
    background-color: transparent !important;
}

.our-works-carousel .carousel-control.left {
    background-image: none;
}

.our-works-carousel .carousel-control.right {
    right: -5px;
    left: auto;
    background-image: none;
}

.our-works-carousel .carousel-control.left:hover,
.our-works-carousel .carousel-control.right:hover {
    color: #a4c93d;
    text-shadow: none;
    opacity: 1;
}

.our-works-carousel .carousel-control .fa,
.our-works-carousel .carousel-control .fa {
    position: absolute;
    top: 25px;
    z-index: 5;
}

.our-works-carousel .carousel-control .fa {
    -webkit-transform: scale(4, 10);
        -ms-transform: scale(4, 10);
            transform: scale(4, 10);
}

@media (min-width: 520px) {
    .our-works-carousel {
        height: 840px;
    }
}

@media (min-width: 540px) {
    .our-works-carousel {
        height: 900px;
    }
}

@media (min-width: 610px) {
    .our-works-carousel {
        height: 940px;
    }
}

@media (min-width: 992px) {
    .our-works-carousel {
        height: 560px;
    }
    .our-works-carousel .work-container {
        width: 870px;
        margin: 0 auto;
        height: 560px;
        padding: 0;
    }
    .our-works-carousel .work-container .description {
        width: 310px;
        height: 560px;
        float: left;
        position: relative;
    }
    .our-works-carousel .work-container h3 {
        padding: 20px 20px 20px 0;
        width: 330px;
        position: relative;
        left: -20px;
        text-align: left;
        text-indent: 40px;
    }
    .our-works-carousel .work-container p {
        text-align: left;
        padding-left: 20px;
        padding-right: 15px;
    }
    .our-works-carousel .gplay-btn,
    .our-works-carousel .appstore-btn {
        margin: 0;
        position: absolute;
        bottom: 0;
        left: 20px;
    }
    .our-works-carousel .work-container .work-image {
        width: 560px;
        height: 560px;
        overflow: hidden;
        float: right;
        margin: 0;
    }
    .our-works-carousel .work-container .work-image a {
        display: block;
        height: 100%;
        width: auto;
        position: relative;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
}

@media (min-width: 1024px) {
    .our-works-carousel .carousel-control.left {
        left: 2%;
    }
    .our-works-carousel .carousel-control.right {
        right: 2%;
    }
}

@media (min-width: 1280px) {
    .our-works-carousel .carousel-control.left {
        left: 12%;
    }
    .our-works-carousel .carousel-control.right {
        right: 12%;
    }
}

@media (min-width: 1440px) {
    .our-works-carousel .carousel-control.left {
        left: 16%;
    }
    .our-works-carousel .carousel-control.right {
        right: 16%;
    }
}

@media (min-width: 1920px) {
    .our-works-carousel .carousel-control.left {
        left: 22%;
    }
    .our-works-carousel .carousel-control.right {
        right: 22%;
    }
}
/*remove this? from bootstrap.min*/
/*
@media all and (transform-3d), (-webkit-transform-3d) {
  .our-works-carousel .carousel-inner > .item {
    -webkit-transition: none !important;
            transition: none !important;
    -webkit-backface-visibility: visible !important;
            backface-visibility: visible !important;
    -webkit-perspective: none !important;
            perspective: none !important;
  }
  .our-works-carousel .carousel-inner > .item.next,
  .our-works-carousel .carousel-inner > .item.active.right {
    -webkit-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;
    left: 0;
  }
  .our-works-carousel .carousel-inner > .item.prev,
  .our-works-carousel .carousel-inner > .item.active.left {
    -webkit-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;
    left: 0;
  }
  .our-works-carousel .carousel-inner > .item.next.left,
  .our-works-carousel .carousel-inner > .item.prev.right,
  .our-works-carousel .carousel-inner > .item.active {
    -webkit-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;
    left: 0;
  }
}
*/
/*--------------------------------------------------------------------------------*/
/*------------------------ << --------------------- TESTIMONIALS */

.testimonials {
    background-color: #e6e7e8;
    text-align: center;
    border-bottom: solid 4px #a4c93d;
    z-index: 3;
}

.testimonials,
.testimonials .item,
.testimonials .active {
    height: auto;
    width: 100%;
}

.testimonials .carousel-inner {
    height: auto;
    padding: 0;
    margin: 0;
}

.testimonials .item {
    text-align: center;
}

.testimonials .review-author-photo {
    width: 140px;
    height: 140px;
    border-radius: 100px;
    overflow: hidden;
    position: relative;
    top: 25px;
    margin: 0 auto;
    z-index: 6;
}

.testimonials .review-author-photo img {
    max-width: none;
    display: block;
    height: 100%;
    width: auto;
    position: relative;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.testimonials .review-text {
    background: #fff;
    padding: 60px 15px 15px;
    margin: 0 auto 60px;
    position: relative;
    z-index: 5;
}

.testimonials .review-text p:first-child {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
}

.testimonials .review-text p:nth-child(2) {
    margin-bottom: 20px;
}

.testimonials .carousel-indicators {
    bottom: 10px;
}

.testimonials .carousel-indicators div {
    cursor: pointer;
    display: inline-block;
    text-indent: -999px;
    width: 13px;
    height: 15px;
    margin: 5px;
    background: url(../img/dot.png) no-repeat center center;
    position: relative;
    text-align: center;
    color: #fff;
    -webkit-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
}

.testimonials .carousel-indicators div.active {
    background: url(../img/dot-active.png) no-repeat center center;
}
/*
.testimonials .carousel-indicators div {
    cursor: pointer;
    display: inline-block;
    text-indent: -999px;
    width: 12px;
    height: 6px;
    margin: 5px;
    background: #1b75bb;
    position: relative;
    text-align: center;
    color: #fff;
    transition: all 0.2s ease-out;
}

.testimonials .carousel-indicators div:before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 4px solid #1b75bb;
    transition: all 0.2s ease-out;
}

.testimonials .carousel-indicators div:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 4px solid #1b75bb;
    transition: all 0.2s ease-out;
}
*/
/*
.testimonials .carousel-indicators div:hover {
    background: #15609a;
}

.testimonials .carousel-indicators div:hover:before {
    border-bottom-color: #15609a;
}

.testimonials .carousel-indicators div:hover:after {
    border-top-color: #15609a;
}

.testimonials .carousel-indicators div.active {
    background: #a4c93d;
}

.testimonials .carousel-indicators div.active:before {
    border-bottom: 4px solid #a4c93d;
}

.testimonials .carousel-indicators div.active:after {
    border-top: 4px solid #a4c93d;
}
*/

@media (min-width: 768px) {
    .testimonials .carousel-indicators {
        bottom: 40px;
    }
    .testimonials .review-text {
        padding: 60px 30px 30px;
        height: 295px;
        width: 750px;
    }
    .testimonials .review-text p:nth-child(2) {
        margin-bottom: 40px;
    }
}

@media (min-width: 992px) {
    .testimonials .carousel-indicators {
        bottom: 40px;
    }
    .testimonials .carousel-indicators div {
        margin: 10px;
    }
    .testimonials .review-text {
        padding: 60px 40px 50px;
        height: 265px;
        margin: 0 auto 120px;
        width: 970px;
    }
}
/*----------------------------------------------------------- */
/*------------------------ << ------------------------ POSITIONS */

.positions {
    position: relative;
    padding-top: 20px;
    padding-bottom: 150px;
}

.positions .overlay {
    position: absolute;
    top: -100px;
    left: 0;
    bottom: -100px;
    right: 0;
    margin: auto;
    background-color: rgba(27, 25, 24, 0.8);
    z-index: 2;
}

.positions .container {
    padding-top: 100px;
}

.positions .pos-text,
.positions .pos-container {
    position: relative;
    z-index: 3;
    color: #fff;
    text-align: center;
}

.positions .pos-text p {
    margin-bottom: 22px;
}

.positions img {
    margin: 20px auto 40px;
}

.positions .pos-container > div {
    box-shadow: 1px 0 0 0 #fff, 0 1px 0 0 #fff, 1px 0 0 0 #fff inset, 0 1px 0 0 #fff inset;
    padding: 25px 10px 22px;
}

.positions .pos-container > div p {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.positions .button:hover,
.positions .button:active,
.positions .button:focus {
    text-decoration: none !important;
    color: #fff;
    background-color: transparent;
    box-shadow: 0 0 0 3px #fff;
}

@media (max-width: 991px) {
    .positions .pos-container > div {
        box-shadow: 1px 0 0 0 #fff, 0 1px 0 0 #fff, 0 1px 0 0 #fff inset;
    }
}
/*----------------------------------------------------------- */
/*------------------------ << ------------------------ CONTACT MAP */

.contact-map {
    position: relative;
    z-index: 3;
    background-color: #fff;
    border-bottom: solid 4px #1b75bb;
    padding-bottom: 0;
}

.contact-map h2 {
    padding-left: 15px;
    padding-right: 15px;
}

.contact-map .container-fluid,
.contact-map .container-fluid .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
}

.contact-map .container-fluid .row {
    margin-left: 0;
    margin-right: 0;
}

.notched-w {
    height: 10px;
    width: 100%;
    background: url(../img/zigzag-w.png) repeat-x;
    position: absolute;
    z-index: 3;
    top: -9px;
}

.contact-map .map-container {
    position: relative;
    height: 380px;
    overflow: hidden;
}

.contact-map .map-container p {
    color: #fff;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 20px;
    z-index: 5;
    -webkit-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
}

.contact-map .map-container p strong {
    font-size: 20px;
}

.contact-map .map-container .overlay {
    position: absolute;
    top: 0;
    height: 341px;
    width: 100%;
    z-index: 4;
    -webkit-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
}

.contact-map .map-container .overlay > div {
    display: table;
    width: 100%;
    height: 100%;
}

.contact-map .map-container .overlay .bg-left,
.contact-map .map-container .overlay .bg-right {
    display: table-cell;
    background: url(../img/blue-bg-strip.png) 0 0 repeat-x;
}

.contact-map .map-container .overlay .bg-center {
    display: table-cell;
    background: url(../img/blue-bg.png) 0 0 no-repeat;
    width: 132px;
}

.contact-map .map-container:hover .overlay,
.contact-map .map-container:focus .overlay {
    top: -238px;
}

.contact-map .map img {
    display: inline;
    max-width: none;
}
/*----------------------------------------------------------- */
/*------------------------ << ------------------------ CONTACT FORM  */

.contact-form {
    border-bottom: solid 10px #1b75bb;
    padding-top: 30px;
}

.contact-form h3 {
    text-align: center;
}

.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    border-radius: 0;
    border: none;
    background-color: #e6e7e8;
    padding: 10px;
    color: #414142;
    display: block;
    margin-bottom: 8px;
    -webkit-transition: all .3s ease-in;
            transition: all .3s ease-in;
}

.contact-form textarea {
    height: 108px;
    resize: vertical;
}

.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
    outline: none;
    box-shadow: 0 0 0 1px #1b75bb;
    background-color: #fff;
}

.contact-form input[type="email"]::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
    color: #9b9b9b;
}

.contact-form input[type="email"]:-moz-placeholder,
.contact-form textarea:-moz-placeholder {
    color: #9b9b9b;
}

.contact-form input[type="email"]::-moz-placeholder,
.contact-form textarea::-moz-placeholder {
    color: #9b9b9b;
}

.contact-form input[type="email"]:-ms-input-placeholder,
.contact-form textarea:-ms-input-placeholder {
    color: #9b9b9b;
}

.contact-form input[type="checkbox"] {
    display: none;
    position: static;
}

.contact-form .df-checkbox {
    display: none;
}

.contact-form .df-checkbox > label {
    padding-left: 0
}

.contact-form input[type="checkbox"] ~ label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 0;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
    cursor: pointer;
    position: relative;
    z-index: 100;
    background-color: #e6e7e8;
    margin: 5px 0;
    vertical-align: middle;
    border: none;
}

.contact-form input[type="checkbox"]:checked ~ label {
    background-color: #fff;
}

.contact-form input[type="checkbox"]:checked ~ label:before {
    content: '';
    position: absolute;
    width: 12px;
    height: 8px;
    background: transparent;
    top: 5px;
    left: 4px;
    border-bottom: 3px solid #a4c93d;
    border-left: 3px solid #a4c93d;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    z-index: 101;
}

.contact-form .df-checkbox span {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    max-width: 90%;
}

.subscribe input.button,
.contact-form button {
    display: block;
    width: 100%;
    border: none;
    margin-top: 15px;
}

.subscribe input {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.contact-form .subscribe {
    padding-top: 30px;
}

.contact-form .subscribe p {
    margin-bottom: 28px;
}

.contact-form .subscribe input {
    margin-bottom: 18px;
}

#feedback-form span.error {
    display: inline-block;
    background: #fffedd;
    border: solid 1px #a4c93d;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    right: 10px;
}

#feedback-form span.error:after {
    content: '';
    width: 10px;
    height: 10px;
    display: block;
    background: #fffedd;
    border-left: solid 1px #a4c93d;
    border-bottom: solid 1px #a4c93d;
    position: absolute;
    right: 25px;
    bottom: -5px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

#feedback-form span[for="feedback_email"] {
    top: 5px;
}

#feedback-form span[for="feedback_txt"] {
    top: 57px;
}

p.message-feedback {
    color: #a4c93d;
}

@media (min-width: 600px) {
    .contact-form .df-checkbox,
    .contact-form .button-container {
        display: inline-block;
        vertical-align: middle;
        margin-top: 10px;
    }
    .contact-form .df-checkbox {
        visibility: hidden;
    }
    .contact-form .df-checkbox {
        width: 54%;
    }
    .contact-form .button-container {
        width: 45%;
    }
    .subscribe input.button,
    .contact-form button {
        margin-top: 0;
    }
}

@media (min-width: 768px) {
    .contact-form .subscribe {
        padding-top: 0;
    }
    .contact-form .message button {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width: 992px) {
    .contact-form h3 {
        text-align: left;
    }
    .contact-form > div > div > div.message {
        padding-right: 30px;
    }
    .contact-form > div > div > div.subscribe {
        padding-left: 30px;
    }
    .subscribe input.button,
    .contact-form .message button {
        padding-left: 52px;
        padding-right: 52px;
    }
    .subscribe input {
        max-width: none;
    }
}
/*----------------------------------------------------------- */
/*------------------------ << ------------------------ FOOTER  */

footer {
    padding-top: 25px;
    padding-bottom: 5px;
    background-color: #404041;
    border-top: solid 4px #1b75bb;
}

footer p {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    line-height: 25px;
    text-align: center;
    margin-bottom: 10px;
}

footer p.tel {
    font-weight: 700;
    color: #1b75bb;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
}

footer .social-footer-container {
    text-align: left;
}

footer .social-footer-container a {
    color: #1b75bb;
    width: 28px;
    height: 32px;
    display: inline-block;
    text-align: center;
    margin: 0 8px 8px;
}
/*This is when you'll have many icons*/
/*
footer .social-footer-container {
    text-align: justify;
}

footer .social-footer-container:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}
footer .social-footer-container a {
    color: #1b75bb;
    width: 24px;
    height: 25px;
    display: inline-block;
    text-align: center;
}
*/

@media (max-width: 479px) {
    footer .social-footer-container {
        text-align: center;
    }
    footer .social-footer-container a {
        margin: 5px;
    }
}

footer .social-footer-container a:hover,
footer .social-footer-container a:focus {
    color: #a4c93d;
}

footer .copy p {
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    footer p {
        margin-bottom: 0;
    }
}

@media (min-width: 992px) {
    footer > div > div > div.find {
        padding-right: 40px;
    }
    footer > div > div > div.call {
        padding-left: 30px;
    }
    footer p,
    footer p.tel {
        text-align: left;
    }
}
/*----------------------------------------------------------- */
/*------------------------ << ------------------------ CAREERS HEADER */

.careers-header {
    text-align: center;
    background-color: #e6e7e8;
    padding-top: 35px;
    padding-bottom: 35px;
}

.careers-header img {
    margin: 0 auto 30px;
}

.careers-header h1 {
    margin: 18px auto 38px;
}

.careers-header .button {
    padding: 9px 85px;
    max-width: 100%;
}
/*----------------------------------------------------------- */
/*------------------------ << ------------------------ POSITION-DESCR  */

.position-descr {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 0;
    border-bottom: solid 4px #e7e7e7;
}

.position-descr p {
    margin-bottom: 40px;
}
/*----------------------------------------------------------- */
/*------------------------ << ------------------------ APPLICANT-DESCR  */

.applicant-descr p.head {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;
}

.applicant-descr h3 {
    margin-top: 26px;
    margin-bottom: 26px;
}

.applicant-descr ul {
    padding: 0 0 25px 0;
}

.applicant-descr li {
    margin-bottom: 8px;
    left: 0;
    list-style-type: none;
    position: relative;
}

.applicant-descr li:before {
    display: inline-block;
    content: "";
    background: url(../img/li.png) center center no-repeat;
    top: 6px;
    width: 11px;
    height: 10px;
    margin-right: 21px;
}

.applicant-descr .button-container {
    text-align: center;
    margin: 50px auto 70px;
    max-width: 100%;
}

.applicant-descr .button-container .button {
    padding: 9px 85px;
    max-width: 100%;
}

.applicant-descr .button-container span {
    display: block;
    margin-top: 15px;
}
/*----------------------------------------------------------- */
/*------------------------ << ------------------------ MODALS  */

.modal-dialog {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
}

.modal-content {
    border: solid 2px #686868;
    border-radius: 10px;
}

.modal-header {
    border-bottom: none;
    padding-bottom: 5px;
}

.modal-header h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.modal .modal-header .close {
    position: relative;
    width: 28px;
    height: 28px;
    opacity: 1;
}

.modal .modal-header .close span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 2px;
    width: 28px;
    background: #a4c93d;
}

.modal .modal-header .close span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.modal .modal-header .close span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.modal .modal-header .close:hover,
.modal .modal-header .close:focus {
    opacity: 1;
}

.modal .modal-header .close:active {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

.modal .modal-header h4 {}

.modal .modal-body {
    text-align: center;
}

.modal .modal-body img {
    display: block;
    width: 100%;
}

.modal#work4 .modal-dialog {
    max-width: 1000px;
}

.modal#work2 .modal-dialog {
    max-width: 600px;
}