/*===========================================
	All bootsrap override styles
=============================================*/
/* Container */
.container{
	@media screen and (max-width: $break-lg){
		width: 100%;
		max-width: 100%;
	}
}

/* Form */
.form-control::placeholder{
	color: rgba($gray-light, .5);
}

