@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Yrsa:400,700');
/*@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');*/

html{
	height: 100%;
	width: 100%;
	font-size: $font-sm;
}
body{
	position: relative;
	height: 100%;
	width: 100%;
	color: $gray;
  	font-family: $text-font-family;
  	font-weight: $font-reg;
  	font-size: $font-sm;
  	line-height: normal;
  	letter-spacing: 0.03em;
  	padding: 0;
  	margin: 0;
  	line-height: normal;
  	padding-top: 100px;
  	&.noscroll{
  		overflow:hidden;
  	}
  	@media screen and (max-width: $break-sm){
  		font-size: $font-xs;
  	}

}

h1, h2, h3, h4, h5, h6{
	font-family: $title-font-family;
	font-weight: $font-bold;
	color: $gray-dark;
	line-height: normal;
}
a{
	color: $gray-dark;
	cursor: pointer;
	&:hover{
		color: $main-color;
		text-decoration: none;
	}
}
p{
	margin-bottom: 5px;
	line-height: 1.5;
	letter-spacing: 0.03em;
}
strong{

}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
label{
	color: $gray-dark;
  	margin: 0;
  	text-transform: unset;
  	letter-spacing: 0;
}
img{
	max-width: 100%;
}


::-moz-selection { /* Code for Firefox */
	color: $white;
	background: $main-color;
}

::selection {
	color: $white;
	background: $main-color;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $gray;
  font-weight: $font-reg;
  opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $gray;
  font-weight: $font-reg;
  opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $gray;
  font-weight: $font-reg;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
  color: $gray;
  font-weight: $font-reg;
  opacity: 1;
}