/* Colors */
/* fonts */
/* Responsive */
/* blocks */
@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Yrsa:400,700");
.easing, .blog-post-image a i {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

/* Mixin */
/*@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');*/
html {
  height: 100%;
  width: 100%;
  font-size: 16px; }

body {
  position: relative;
  height: 100%;
  width: 100%;
  color: #35373D;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.03em;
  padding: 0;
  margin: 0;
  line-height: normal;
  padding-top: 100px; }
  body.noscroll {
    overflow: hidden; }
  @media screen and (max-width: 576px) {
    body {
      font-size: 14px; } }

h1, h2, h3, h4, h5, h6 {
  font-family: "Yrsa", serif;
  font-weight: 700;
  color: #191B20;
  line-height: normal; }

a {
  color: #191B20;
  cursor: pointer; }
  a:hover {
    color: #FFC700;
    text-decoration: none; }

p {
  margin-bottom: 5px;
  line-height: 1.5;
  letter-spacing: 0.03em; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

label {
  color: #191B20;
  margin: 0;
  text-transform: unset;
  letter-spacing: 0; }

img {
  max-width: 100%; }

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #FFC700; }

::selection {
  color: #fff;
  background: #FFC700; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #35373D;
  font-weight: 400;
  opacity: 1; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #35373D;
  font-weight: 400;
  opacity: 1; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #35373D;
  font-weight: 400;
  opacity: 1; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #35373D;
  font-weight: 400;
  opacity: 1; }

/*===========================================
	All bootsrap override styles
=============================================*/
/* Container */
@media screen and (max-width: 991px) {
  .container {
    width: 100%;
    max-width: 100%; } }

/* Form */
.form-control::-webkit-input-placeholder {
  color: rgba(153, 153, 153, 0.5); }
.form-control:-ms-input-placeholder {
  color: rgba(153, 153, 153, 0.5); }
.form-control::-ms-input-placeholder {
  color: rgba(153, 153, 153, 0.5); }
.form-control::placeholder {
  color: rgba(153, 153, 153, 0.5); }

/*===========================================
	Header styles
=============================================*/
#header {
  padding: 20px 0;
  position: fixed;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 300;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }
  #header.header-up {
    top: -100px; }
  #header .logo h1 {
    margin: 0; }
  #header .logo img {
    width: 172px; }
  #header .mobile-menu {
    display: none; }
  #header .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #header .main-nav ul {
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      #header .main-nav ul li {
        padding: 0 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        #header .main-nav ul li a {
          font-size: 16px;
          font-weight: 700;
          text-transform: capitalize; }
          #header .main-nav ul li a:not(.btn) {
            padding: 0 10px;
            position: relative;
            line-height: 28px; }
          #header .main-nav ul li a.active {
            color: #191B20; }
            #header .main-nav ul li a.active:after {
              content: "";
              height: 3px;
              background: #191B20;
              width: 100%;
              position: absolute;
              left: 0;
              bottom: -3px;
              display: block; }
        #header .main-nav ul li.nav-button {
          padding-right: 0; }
          @media screen and (max-width: 991px) {
            #header .main-nav ul li.nav-button .btn {
              padding: 12px 15px; } }
  @media screen and (max-width: 768px) {
    #header .logo {
      max-width: 100%;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%; }
    #header .mobile-menu {
      display: block;
      position: absolute;
      right: 20px;
      top: 20px; }
    #header .main-nav {
      display: block;
      padding: 0;
      width: calc(100vw - 30px);
      margin-top: 10px; }
      #header .main-nav ul {
        height: 0;
        overflow: hidden;
        width: 100%; }
        #header .main-nav ul.show {
          height: auto;
          overflow: hidden;
          background: #F3F4F4;
          text-align: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          /*transition: all 0.5s ease;
					-moz-transition: all 0.5s ease;
					-webkit-transition: all 0.5s ease;
					margin-top: $default-space/2;*/ }
          #header .main-nav ul.show li {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            padding: 0; }
            #header .main-nav ul.show li.nav-button {
              padding: 20px;
              padding-top: 10px; }
            #header .main-nav ul.show li a {
              display: block;
              width: 100%; }
              #header .main-nav ul.show li a:not(.btn) {
                padding: 10px 20px;
                color: #35373D;
                -moz-transition: none;
                -webkit-transition: none;
                margin-top: none; }
                #header .main-nav ul.show li a:not(.btn):hover {
                  background: #FFC700;
                  color: #fff; }
                #header .main-nav ul.show li a:not(.btn).active {
                  background: rgba(153, 153, 153, 0.1);
                  color: #191B20; }
                  #header .main-nav ul.show li a:not(.btn).active:after {
                    display: none; }
            #header .main-nav ul.show li .btn {
              display: block; } }

/*===========================================
	Footer styles
=============================================*/
#footer {
  background: #0d0d0c;
  padding: 60px 0; }
  #footer .footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 30px; }
    #footer .footer-list li.footer-list-title {
      margin-bottom: 20px; }
      #footer .footer-list li.footer-list-title strong {
        color: #fff;
        background: #35373D;
        font-weight: 700;
        padding: 5px 15px;
        display: inline-block; }
    #footer .footer-list li.footer-address {
      color: #fff;
      line-height: 26px;
      font-size: 16px; }
    #footer .footer-list li a {
      color: #fff;
      line-height: 33px;
      font-size: 16px; }
      #footer .footer-list li a:hover {
        color: #FFC700; }
  #footer .footer-rating {
    margin-top: 80px; }
  #footer .footer-copyright {
    margin-top: 40px;
    color: #fff;
    font-size: 14px;
    line-height: normal;
    font-weight: 700; }
    #footer .footer-copyright .copyright-txt {
      letter-spacing: 0.09em; }
    #footer .footer-copyright .copyright-links {
      text-align: right; }
      #footer .footer-copyright .copyright-links a {
        color: #fff;
        margin-left: 125px; }
        #footer .footer-copyright .copyright-links a:first-child {
          margin: 0; }
    @media screen and (max-width: 768px) {
      #footer .footer-copyright {
        margin-top: 0;
        text-align: center; }
        #footer .footer-copyright .copyright-links {
          text-align: center;
          margin-top: 20px; }
          #footer .footer-copyright .copyright-links a {
            margin-left: 20px; }
            #footer .footer-copyright .copyright-links a:first-child {
              margin: 0; } }
  #footer .container {
    position: relative; }
  #footer .back-to-top {
    position: absolute;
    top: 30px;
    right: 0;
    width: 16px;
    height: 101px;
    background: url("../images/Back to top.svg");
    display: inline-block;
    cursor: pointer;
    z-index: 1; }
    #footer .back-to-top:hover {
      opacity: .8; }
  @media screen and (max-width: 991px) {
    #footer {
      padding: 30px 0; } }

/*===========================================
	Main content layout styles
=============================================*/
.section-title {
  font-size: 36px;
  line-height: normal;
  margin-bottom: 20px;
  text-align: left; }
  .section-title .highlight-txt {
    padding-top: 5px; }
  @media screen and (max-width: 991px) {
    .section-title {
      font-size: 28px; } }
  @media screen and (max-width: 768px) {
    .section-title {
      margin-bottom: 20px; }
      .section-title br {
        display: none; } }

.back-btn {
  margin: 20px 0;
  text-align: left; }
  .back-btn a {
    color: #fff;
    padding: 9px 16px;
    display: inline-block;
    background: #191B20; }
    .back-btn a i {
      margin-right: 10px; }
    .back-btn a:hover {
      background: #FFC700;
      color: #191B20; }

.hero-section {
  padding-bottom: 20px; }
  @media screen and (max-width: 576px) {
    .hero-section {
      text-align: center; } }
  .hero-section .hero-caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .hero-section .hero-caption h2 {
      font-size: 48px;
      line-height: normal;
      margin: 0; }
    @media screen and (max-width: 991px) {
      .hero-section .hero-caption {
        min-height: 0; }
        .hero-section .hero-caption h2 {
          font-size: 36px; }
          .hero-section .hero-caption h2 br {
            display: none; } }
    @media screen and (max-width: 768px) {
      .hero-section .hero-caption h2 {
        font-size: 28px; } }

.page-copyrights {
  padding: 20px 0;
  font-size: 16px;
  font-weight: 700;
  color: #191B20;
  line-height: normal; }
  .page-copyrights .copyright-txt, .page-copyrights .mail, .page-copyrights .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .page-copyrights .mail {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .page-copyrights .mail span {
      display: inline-block;
      background: #191B20;
      color: #fff;
      padding: 8px 15px; }
  .page-copyrights .social {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .page-copyrights .social a {
      font-size: 24;
      padding: 0 10px; }
  @media screen and (max-width: 768px) {
    .page-copyrights .copyright-txt, .page-copyrights .mail, .page-copyrights .social {
      display: block;
      text-align: center; }
    .page-copyrights .mail {
      margin: 10px 0; } }

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  border: 3px solid #fff;
  -webkit-box-shadow: 4px 4px 0px #fff;
  box-shadow: 4px 4px 0px #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #16181c; }
  .owl-carousel .owl-nav button.owl-prev span, .owl-carousel .owl-nav button.owl-next span {
    display: none; }
  .owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-next:hover {
    background-color: rgba(255, 255, 255, 0.1); }

.owl-carousel .owl-nav button.owl-prev {
  background-image: url("../images/icons/arrow-left-small-white.svg"); }

.owl-carousel .owl-nav button.owl-next {
  background-image: url("../images/icons/arrow-right-small-white.svg"); }

.owl-carousel .owl-dots {
  display: none; }

.carousel-nav {
  text-align: right; }
  .carousel-nav .btn {
    position: static;
    width: 48px;
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
    line-height: 16px;
    margin-left: 10px;
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    z-index: 100; }
    .carousel-nav .btn img {
      margin: 0; }

.mobile-show {
  display: none; }
  @media screen and (max-width: 576px) {
    .mobile-show {
      display: block; } }

.tab-show {
  display: none; }
  @media screen and (max-width: 991px) {
    .tab-show {
      display: block; } }

@media screen and (max-width: 576px) {
  .mobile-hide {
    display: none; } }

@media screen and (max-width: 991px) {
  .tab-hide {
    display: none; } }

.popup-body {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 500;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px; }
  .popup-body .popup-content {
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ddd;
    position: relative;
    padding: 20px; }
    .popup-body .popup-content .close-popup {
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      border-radius: 100%;
      position: absolute;
      right: -17px;
      top: -17px;
      background: #999;
      color: #fff;
      padding: 5px;
      width: 33px;
      height: 33px; }
      .popup-body .popup-content .close-popup:hover {
        background: #35373D; }
  .popup-body.confirm-popup {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .popup-body.confirm-popup .popup-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      min-height: 300px;
      max-width: 450px;
      text-align: center; }
      @media screen and (min-width: 768px) {
        .popup-body.confirm-popup .popup-content {
          width: 450px; } }
      .popup-body.confirm-popup .popup-content span {
        color: #72bd5a;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        border-radius: 100%;
        border: 3px solid #72bd5a;
        font-size: 36px;
        padding: 20px; }
      .popup-body.confirm-popup .popup-content p {
        margin-bottom: 0;
        font-size: 18px;
        margin-top: 20px; }
  .popup-body.error-popup .popup-content span {
    color: #e20d0d;
    border-color: #e20d0d; }
  .popup-body.error-popup .popup-content p {
    color: #e20d0d; }

/*===========================================
	All buttons styles styles
=============================================*/
.btn {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 700;
  height: 56px;
  text-transform: capitalize; }
  .btn img {
    margin-left: 15px;
    display: inline-block !important;
    width: auto !important; }
  .btn:disabled {
    cursor: not-allowed; }
  .btn.btn-lg {
    height: 72px;
    line-height: 42px;
    font-size: 18px; }
    @media screen and (max-width: 768px) {
      .btn.btn-lg {
        font-size: 16px; } }
  .btn.btn-sm {
    height: 48px; }
  .btn.btn-border {
    background: #fff;
    border: 3px solid #191B20;
    color: #191B20;
    -webkit-box-shadow: 4px 4px 0px #191B20;
    box-shadow: 4px 4px 0px #191B20; }
    .btn.btn-border:hover {
      background: #F3F4F4; }
  .btn.btn-light {
    background: transparent;
    border-color: #fff;
    color: #fff;
    -webkit-box-shadow: 4px 4px 0px #fff;
    box-shadow: 4px 4px 0px #fff; }
    .btn.btn-light:hover {
      background: rgba(255, 255, 255, 0.2); }

.btn-primary {
  background: #FFC700;
  border-color: #FFC700; }
  .btn-primary:hover {
    background: #0BA14B;
    border-color: #0BA14B; }

.btn-secondary {
  background: #72bd5a;
  border-color: #72bd5a; }
  .btn-secondary:hover {
    background: #FFC700;
    border-color: #FFC700; }

.btn-rouned {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px; }

/*===========================================
	All blocks styles
=============================================*/
/* Margin and padding */
.no-margin {
  margin: 0; }

.topmargin-sm {
  margin-top: 10px; }

.topmargin {
  margin-top: 20px; }

.topmargin-lg {
  margin-top: 40px; }

.topmargin-xl {
  margin-top: 60px; }

.btmmargin-sm {
  margin-bottom: 10px; }

.btmmargin {
  margin-bottom: 20px; }

.btmmargin-lg {
  margin-bottom: 40px; }

.btmmargin-xl {
  margin-bottom: 60px; }

.no-padding {
  padding: 0; }

/* Text color*/
.caps-txt {
  text-transform: uppercase; }

.gray-txt {
  color: #35373D; }

.pink-txt {
  color: #ea0066; }

.blue-txt {
  color: #0BA14B; }

.cyan-txt {
  color: #0BA14B; }

.yellow-txt {
  color: #FFC700; }

.orange-txt {
  color: #f29604; }

.purple-txt {
  color: #8300ea; }

.green-txt {
  color: #72bd5a; }

.red-txt {
  color: #e20d0d; }

.highlight-txt {
  padding: 0 5px; }
  .highlight-txt.yellow-highlight {
    background: #FFC700; }
  .highlight-txt.white-highlight {
    background: #fff; }
  .highlight-txt.gray-highlight {
    background: #35373D; }

/*===========================================
	Main Home Page styles
=============================================*/
.home-section {
  padding: 60px 0; }
  @media screen and (max-width: 991px) {
    .home-section {
      padding: 30px 0; } }

.code-section {
  padding: 0 40px; }
  .code-section .code-content {
    background: #0d0d0c;
    padding: 60px 0;
    color: #fff; }
  .code-section .code-block {
    padding: 0 20px; }
    .code-section .code-block h2 {
      color: #fff; }
      .code-section .code-block h2 .code-braket {
        margin-left: 60px; }
    .code-section .code-block .code-braket {
      height: 50px; }
    .code-section .code-block p {
      font-size: 28px;
      font-family: "Yrsa", serif;
      margin-bottom: 20px;
      margin-left: 100px; }
    .code-section .code-block .btn {
      margin-bottom: 30px;
      margin-left: 100px; }
  @media screen and (max-width: 991px) {
    .code-section {
      padding: 0; }
      .code-section .code-content {
        padding: 30px 0; } }
  @media screen and (max-width: 768px) {
    .code-section .code-block {
      margin-left: 0; }
      .code-section .code-block .code-braket {
        height: 35px; }
      .code-section .code-block h2 .code-braket {
        margin-left: 40px; }
      .code-section .code-block p {
        font-size: 22px;
        margin-left: 60px;
        margin-bottom: 20px; }
      .code-section .code-block .btn {
        margin-left: 60px; } }
  @media screen and (max-width: 576px) {
    .code-section .code-block h2 .code-braket {
      margin-left: 5px; }
    .code-section .code-block p {
      font-size: 16px;
      margin-left: 0;
      font-family: "Open Sans", sans-serif; }
    .code-section .code-block .btn {
      margin-left: 0;
      padding: 12px 15px;
      display: block; } }
  .code-section.hero-section {
    text-align: left; }
    .code-section.hero-section .code-block {
      margin-left: 100px; }
      .code-section.hero-section .code-block .section-title {
        color: #191B20; }
      .code-section.hero-section .code-block p {
        font-size: 22px;
        line-height: 30px; }
      @media screen and (max-width: 768px) {
        .code-section.hero-section .code-block {
          margin-left: 0; } }
      @media screen and (max-width: 576px) {
        .code-section.hero-section .code-block p {
          font-size: 16px;
          line-height: 1.5; } }

.services-section .sub-title {
  margin-top: 20px;
  margin-bottom: 40px; }

.services-section .main-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  .services-section .main-services img {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
    /*@media screen and (min-device-width : $break-md) and (min-device-width : 1024px){
				position: static;

			}*/ }

.services-section .services-list {
  list-style: none;
  padding: 0; }
  .services-section .services-list .services-item {
    margin-top: 40px; }
    .services-section .services-list .services-item h3 {
      font-size: 22px;
      margin-bottom: 10px; }
    .services-section .services-list .services-item p {
      margin-bottom: 30px;
      max-width: 500px; }
    .services-section .services-list .services-item a {
      font-weight: bold;
      line-height: normal;
      padding-bottom: 8px;
      border-bottom: 3px solid #FFC700;
      display: inline-block;
      font-size: 14px;
      text-transform: uppercase; }
      .services-section .services-list .services-item a i {
        margin-left: 10px; }
    @media screen and (max-width: 768px) {
      .services-section .services-list .services-item {
        margin-top: 30px; } }

.projects-section {
  background: #0d0d0c;
  margin: 0 40px; }
  @media screen and (max-width: 991px) {
    .projects-section {
      margin: 0; } }
  .projects-section > .container {
    padding: 0 15px; }
  .projects-section .proj-carousel {
    color: #fff; }
    .projects-section .proj-carousel .proj-item > .row {
      margin: 0; }
    .projects-section .proj-carousel .proj-item .section-title {
      color: #fff;
      padding: 0 15px; }
    .projects-section .proj-carousel .proj-item .proj-carousel-img {
      margin: 0 5px;
      padding-top: 5px; }
      .projects-section .proj-carousel .proj-item .proj-carousel-img img {
        height: 280px; }
      @media screen and (max-width: 991px) {
        .projects-section .proj-carousel .proj-item .proj-carousel-img {
          margin-bottom: 20px; }
          .projects-section .proj-carousel .proj-item .proj-carousel-img img {
            height: auto; } }
    .projects-section .proj-carousel .proj-item .proj-category {
      margin-top: 10px; }
      .projects-section .proj-carousel .proj-item .proj-category label {
        display: inline-block;
        background: #FFC700;
        font-family: "Yrsa", serif;
        font-weight: 700;
        font-size: 22px;
        padding: 5px 16px; }
    .projects-section .proj-carousel .proj-item p {
      line-height: 29px;
      min-height: 270px; }
      @media screen and (max-width: 991px) {
        .projects-section .proj-carousel .proj-item p {
          min-height: 0; } }
      @media screen and (max-width: 576px) {
        .projects-section .proj-carousel .proj-item p {
          line-height: 1.5; } }
    .projects-section .proj-carousel .proj-item .proj-action {
      margin-top: 40px;
      margin-bottom: 5px; }
      @media screen and (max-width: 576px) {
        .projects-section .proj-carousel .proj-item .proj-action {
          margin: 30px 5px; }
          .projects-section .proj-carousel .proj-item .proj-action .btn {
            display: block;
            padding: 12px 10px; } }
      @media screen and (max-width: 576px) {
        .projects-section .proj-carousel .proj-item .proj-action {
          margin-bottom: 5px; } }
    .projects-section .proj-carousel .owl-nav {
      text-align: right;
      padding-right: 20px;
      position: absolute;
      right: 0;
      bottom: 15px; }
      .projects-section .proj-carousel .owl-nav:after {
        position: absolute;
        right: 0;
        top: -14px;
        height: 77px;
        width: 135px;
        background: #0d0d0c;
        display: block;
        content: ""; }
      .projects-section .proj-carousel .owl-nav button {
        margin-left: 15px;
        position: relative;
        z-index: 1; }
      @media screen and (max-width: 576px) {
        .projects-section .proj-carousel .owl-nav {
          position: static;
          padding: 0;
          margin: 0;
          margin-top: 20px;
          text-align: center; }
          .projects-section .proj-carousel .owl-nav:after {
            display: none; } }

.clients-section .client-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .clients-section .client-img img {
    max-height: 130px;
    width: auto; }
    @media screen and (max-width: 576px) {
      .clients-section .client-img img {
        height: 100px; } }

.clients-section .client-details .section-title {
  margin-bottom: 20px; }

.clients-section .client-details .client-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px; }
  .clients-section .client-details .client-rating img {
    max-width: 65px; }
  .clients-section .client-details .client-rating .stars {
    margin: 0 15px;
    font-size: 14px; }
    .clients-section .client-details .client-rating .stars i {
      color: #FFC700; }
      .clients-section .client-details .client-rating .stars i.disabled {
        color: rgba(153, 153, 153, 0.2); }
  .clients-section .client-details .client-rating strong {
    color: #191B20;
    font-size: 20px; }
    .clients-section .client-details .client-rating strong small {
      font-size: 14px; }

.clients-section .client-details p {
  margin-bottom: 10px; }

.clients-section .owl-carousel .owl-nav {
  text-align: right;
  position: absolute;
  bottom: -90px;
  right: 0; }
  .clients-section .owl-carousel .owl-nav button.owl-prev, .clients-section .owl-carousel .owl-nav button.owl-next {
    border: 3px solid #191B20;
    -webkit-box-shadow: 4px 4px 0px #191B20;
    box-shadow: 4px 4px 0px #191B20;
    background-color: #fff;
    margin-left: 10px; }
    .clients-section .owl-carousel .owl-nav button.owl-prev:hover, .clients-section .owl-carousel .owl-nav button.owl-next:hover {
      background-color: #F3F4F4; }
  .clients-section .owl-carousel .owl-nav button.owl-prev {
    background-image: url("../images/icons/arrow-left-small.svg"); }
  .clients-section .owl-carousel .owl-nav button.owl-next {
    background-image: url("../images/icons/arrow-right-small.svg"); }
  @media screen and (max-width: 991px) {
    .clients-section .owl-carousel .owl-nav {
      text-align: center;
      width: 100%;
      bottom: -150px; } }

.clients-section .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-right: 130px;
  margin-top: 30px; }
  .clients-section .owl-dots li {
    padding: 10px 20px;
    height: 80px;
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: .5; }
    .clients-section .owl-dots li:hover {
      opacity: 1; }
    .clients-section .owl-dots li.active {
      opacity: 1;
      background: rgba(243, 244, 244, 0.2); }
    .clients-section .owl-dots li img {
      max-width: 100px;
      cursor: pointer; }
    .clients-section .owl-dots li:after, .clients-section .owl-dots li:before {
      display: none; }
  @media screen and (max-width: 991px) {
    .clients-section .owl-dots {
      padding: 0;
      margin-bottom: 70px; }
      .clients-section .owl-dots li {
        height: 50px;
        padding: 10px 0; } }

.testimonial-section .section-title {
  color: #fff;
  margin-left: 150px;
  margin-bottom: 30px; }
  @media screen and (max-width: 991px) {
    .testimonial-section .section-title {
      margin-left: 0;
      margin-bottom: 20px; } }

.testimonial-section .code-block {
  margin: 0 150px; }
  .testimonial-section .code-block P {
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: normal; }
    .testimonial-section .code-block P:first-child {
      margin-bottom: 0; }
    .testimonial-section .code-block P .decor {
      position: absolute;
      width: 41px;
      height: 38px;
      background: url("../images/icons/decor.svg");
      left: -85px;
      top: -10px;
      background-size: contain; }
  @media screen and (max-width: 991px) {
    .testimonial-section .code-block {
      margin: 0; } }
  @media screen and (max-width: 768px) {
    .testimonial-section .code-block p {
      margin-left: 0; }
      .testimonial-section .code-block p .decor {
        display: none; } }
  @media screen and (max-width: 576px) {
    .testimonial-section .code-block p {
      font-size: 16px; } }

.testimonial-section .client-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px; }
  .testimonial-section .client-block .c-img {
    width: 64px;
    height: 64px;
    margin-right: 33px; }
    .testimonial-section .client-block .c-img img {
      border-radius: 100%;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .testimonial-section .client-block .c-info h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 33px;
    color: #191B20;
    margin-bottom: 5px;
    color: #fff; }
    .testimonial-section .client-block .c-info h4 span {
      background: #fff;
      color: #191B20;
      font-size: 14px;
      line-height: normal;
      font-weight: bold;
      font-family: "Open Sans", sans-serif;
      padding: 2px 5px;
      border-radius: 3px; }
  .testimonial-section .client-block .c-info p {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    font-size: 14px;
    padding: 0;
    color: #fff; }
  @media screen and (max-width: 991px) {
    .testimonial-section .client-block {
      margin-top: 20px; } }
  @media screen and (max-width: 576px) {
    .testimonial-section .client-block .c-info h4 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; } }

.testimonial-section .owl-nav {
  text-align: right; }
  .testimonial-section .owl-nav button {
    margin-left: 15px; }
  @media screen and (max-width: 576px) {
    .testimonial-section .owl-nav {
      text-align: center;
      margin-top: 20px; } }

.help-section {
  margin: 40px;
  background: #F3F4F4; }
  @media screen and (max-width: 768px) {
    .help-section {
      margin: 0; } }
  .help-section .help-caption {
    max-width: 430px; }
    .help-section .help-caption h2 {
      font-size: 48px;
      margin-bottom: 40px;
      line-height: 48px; }
      @media screen and (max-width: 991px) {
        .help-section .help-caption h2 {
          font-size: 28px; } }
    .help-section .help-caption .help-txt {
      margin-bottom: 40px;
      color: #191B20; }
      .help-section .help-caption .help-txt strong {
        display: block;
        font-family: "Yrsa", serif;
        font-size: 22px;
        margin-bottom: 5px; }
      .help-section .help-caption .help-txt p {
        margin: 0; }
        .help-section .help-caption .help-txt p + p {
          margin-top: 5px;
          display: inline-block; }
    .help-section .help-caption .btn {
      margin-top: 15px; }

/*===========================================
	Main Services styles
=============================================*/
.services-page {
  margin: 0 25px; }
  @media screen and (max-width: 768px) {
    .services-page {
      margin: 0; } }
  .services-page ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .services-page ul li {
      margin-bottom: 24px; }
      .services-page ul li .service-block {
        padding: 50px 110px;
        position: relative;
        border: 3px solid #191B20;
        height: 100%; }
        @media screen and (max-width: 1024px) {
          .services-page ul li .service-block {
            min-height: 410px; } }
        @media screen and (max-width: 991px) {
          .services-page ul li .service-block {
            min-height: 0; } }
        .services-page ul li .service-block > img {
          display: block;
          height: 56px; }
        .services-page ul li .service-block h3 {
          font-size: 28px;
          margin-top: 10px; }
          .services-page ul li .service-block h3 a {
            color: #fff; }
        .services-page ul li .service-block p {
          margin-bottom: 20px; }
          .services-page ul li .service-block p + a:not(.btn) {
            padding-bottom: 10px;
            display: inline-block;
            line-height: normal;
            font-weight: 700; }
            .services-page ul li .service-block p + a:not(.btn) i {
              margin-left: 24px; }
            .services-page ul li .service-block p + a:not(.btn):hover {
              opacity: .8; }
        .services-page ul li .service-block.black-block {
          background: #0d0d0c; }
          .services-page ul li .service-block.black-block h3 {
            color: #fff; }
          .services-page ul li .service-block.black-block p {
            color: #fff; }
            .services-page ul li .service-block.black-block p + a:not(.btn) {
              color: #fff;
              border-bottom: 3px solid #FFC700; }
        .services-page ul li .service-block.white-block {
          background: #fff; }
          .services-page ul li .service-block.white-block h3, .services-page ul li .service-block.white-block p, .services-page ul li .service-block.white-block a:not(.btn) {
            color: #191B20; }
          .services-page ul li .service-block.white-block p + a:not(.btn) {
            border-bottom: 3px solid #FFC700; }
    @media screen and (max-width: 1024px) {
      .services-page ul li .service-block {
        padding: 40px; }
        .services-page ul li .service-block img {
          position: static;
          margin-bottom: 15px; }
        .services-page ul li .service-block p {
          padding: 0;
          margin-bottom: 20px; }
          .services-page ul li .service-block p + a {
            margin: 0; } }
    @media screen and (max-width: 576px) {
      .services-page ul li .service-block {
        padding: 20px; }
        .services-page ul li .service-block h3 {
          font-size: 22px;
          margin-bottom: 5px; } }

.tags-list a, .tags-list button {
  margin-right: 20px;
  margin-bottom: 20px; }
  .tags-list a.active, .tags-list button.active {
    background: #191B20 !important;
    color: #fff !important;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .tags-list a.active-work, .tags-list button.active-work {
    background: #191B20 !important;
    color: #fff !important;
    -webkit-box-shadow: none;
    box-shadow: none; }
  @media screen and (max-width: 768px) {
    .tags-list a, .tags-list button {
      font-size: 14px;
      padding: 10px;
      height: 45px;
      line-height: normal;
      margin-right: 10px;
      margin-bottom: 15px; } }

.tech-section {
  padding-top: 60px; }
  .tech-section .section-title {
    margin-bottom: 120px; }
  .tech-section .tech-details {
    color: #191B20; }
    .tech-section .tech-details img {
      margin: 0 auto;
      height: 144px;
      display: block; }
    .tech-section .tech-details p {
      margin: 40px 0; }
    .tech-section .tech-details a {
      padding-bottom: 15px;
      display: inline-block;
      line-height: normal;
      font-weight: 700;
      border-bottom: 3px solid #191B20;
      color: #191B20;
      float: right; }
      .tech-section .tech-details a i {
        margin-left: 24px; }
      .tech-section .tech-details a:hover {
        color: #FFC700;
        border-color: #FFC700; }
  @media screen and (max-width: 991px) {
    .tech-section {
      padding: 30px 0; }
      .tech-section .section-title {
        margin-bottom: 20px; } }

.rel-proj-section {
  padding-top: 60px; }
  @media screen and (max-width: 991px) {
    .rel-proj-section {
      padding: 30px 0; } }

.stats-section {
  background: #0d0d0c;
  color: #fff;
  padding-top: 40px; }
  .stats-section .stats-block {
    margin-bottom: 40px;
    text-align: center; }
    .stats-section .stats-block strong {
      display: block;
      font-family: "Yrsa", serif;
      font-weight: 700;
      font-size: 48px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .stats-section .stats-block strong i {
        font-size: 60px;
        line-height: 50px;
        margin-left: 5px;
        font-style: normal; }
    .stats-section .stats-block span {
      display: block;
      font-size: 16px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.03em;
      text-transform: uppercase; }
  @media screen and (max-width: 768px) {
    .stats-section {
      padding-top: 30px; }
      .stats-section .stats-block {
        text-align: center; }
        .stats-section .stats-block strong {
          font-size: 36px;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
          .stats-section .stats-block strong i {
            font-size: 50px;
            line-height: 40px; }
        .stats-section .stats-block span {
          margin-top: 0; } }
  .stats-section-landing {
    background: none;
    color: #191B20;
    margin-bottom: 40px; }
    @media screen and (max-width: 991px) {
      .stats-section-landing {
        margin-bottom: 0; } }

/*===========================================
	Main Services styles
=============================================*/
.projs-section {
  padding-top: 40px; }
  .projs-section .tags-list {
    margin-bottom: 10px; }

.proj-list {
  list-style: none;
  padding: 0; }
  .proj-list .portfolio {
    padding-top: 0 !important;
    height: 626px; }
  .proj-list .proj-item {
    margin-bottom: 40px; }
    .proj-list .proj-item .proj-img {
      margin-bottom: 20px; }
      .proj-list .proj-item .proj-img a {
        display: block; }
        .proj-list .proj-item .proj-img a img {
          width: 100%;
          min-height: 291;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          border-radius: 4px;
          border: 1px solid #eee; }
    .proj-list .proj-item .proj-tags {
      margin-bottom: 20px; }
      .proj-list .proj-item .proj-tags a {
        display: inline-block;
        background: #F3F4F4;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        padding: 5px 12px;
        margin-right: 5px;
        margin-bottom: 5px;
        font-size: 14px;
        color: #35373D; }
        .proj-list .proj-item .proj-tags a:hover {
          background: #35373D;
          color: #fff; }
    .proj-list .proj-item .proj-title {
      font-family: "Yrsa", serif;
      text-transform: capitalize;
      color: #191B20;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 10px; }
      .proj-list .proj-item .proj-title a {
        color: #191B20;
        letter-spacing: 0.01em;
        font-weight: 700;
        font-size: 28px;
        margin-right: 30px; }
      .proj-list .proj-item .proj-title span {
        background: #FFC700;
        font-size: 18px;
        display: inline-block;
        padding: 5px 15px;
        font-weight: 700; }
    .proj-list .proj-item .proj-desc {
      letter-spacing: 0.03em;
      color: #58585A; }
    @media screen and (max-width: 991px) {
      .proj-list .proj-item {
        margin-bottom: 40px; }
        .proj-list .proj-item .proj-title {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start; }
          .proj-list .proj-item .proj-title a {
            margin: 0; } }

.casestudy-section {
  border-bottom: 3px solid rgba(221, 221, 221, 0.7); }
  .casestudy-section .project-sidebar {
    background: rgba(243, 244, 244, 0.3);
    margin-top: -20px;
    padding: 20px 30px;
    height: calc(100% + 20px); }
    @media screen and (max-width: 991px) {
      .casestudy-section .project-sidebar {
        margin-top: 0;
        margin-bottom: 40px;
        height: auto; } }
  .casestudy-section .proj-img {
    text-align: center;
    margin-bottom: 20px; }
  .casestudy-section .proj-title {
    font-family: "Yrsa", serif;
    text-transform: capitalize;
    color: #191B20;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 24px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .casestudy-section .proj-title strong {
      color: #191B20;
      letter-spacing: normal;
      line-height: normal;
      font-weight: 700;
      font-size: 36px;
      margin-right: 32px; }
    .casestudy-section .proj-title span {
      background: #FFC700;
      font-size: 18px;
      display: inline-block;
      padding: 8px 15px;
      font-weight: 700; }
  .casestudy-section .proj-desc {
    line-height: 29px;
    letter-spacing: 0.03em;
    color: #35373D;
    margin-bottom: 60px; }
  .casestudy-section .proj-details-block {
    margin-bottom: 40px; }
    .casestudy-section .proj-details-block h4 {
      margin-bottom: 20px;
      font-size: 18px; }
      .casestudy-section .proj-details-block h4 span {
        display: inline-block;
        border-bottom: 3px solid #FFC700;
        line-height: 32px;
        padding-bottom: 5px;
        color: #191B20; }
    .casestudy-section .proj-details-block p {
      color: #35373D; }
    .casestudy-section .proj-details-block.proj-comments p {
      color: #999;
      font-style: italic;
      font-size: 14px; }
    .casestudy-section .proj-details-block ul {
      list-style: none;
      color: #35373D; }
      .casestudy-section .proj-details-block ul li {
        position: relative;
        padding-left: 28px;
        margin-bottom: 10px; }
        .casestudy-section .proj-details-block ul li i {
          position: absolute;
          left: 0;
          top: 5px;
          font-size: 14px; }
        .casestudy-section .proj-details-block ul li:last-child {
          margin: 0; }
    .casestudy-section .proj-details-block .comment-creator {
      margin-top: 32px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 40px; }
      .casestudy-section .proj-details-block .comment-creator span {
        font-size: 14px;
        line-height: 23px; }
      .casestudy-section .proj-details-block .comment-creator a {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        display: inline-block;
        margin-left: 16px;
        background: #191B20;
        color: #FFC700;
        padding: 3px 8px;
        font-size: 14px;
        font-weight: 700;
        line-height: normal; }
  .casestudy-section .proj-details-list {
    margin-bottom: 60px; }
    .casestudy-section .proj-details-list .section-title {
      font-size: 28px;
      margin-bottom: 10px; }
      .casestudy-section .proj-details-list .section-title .highlight-txt {
        padding-left: 20px;
        padding-right: 20px; }
    .casestudy-section .proj-details-list ul {
      color: #35373D;
      max-width: 500px; }
      .casestudy-section .proj-details-list ul li {
        position: relative;
        letter-spacing: 0.03em;
        margin-bottom: 15px;
        padding-left: 40px; }
        .casestudy-section .proj-details-list ul li i {
          position: absolute;
          left: 0;
          font-size: 16px;
          top: 5px; }
        .casestudy-section .proj-details-list ul li:last-child {
          margin: 0; }
  @media screen and (max-width: 991px) {
    .casestudy-section {
      margin-bottom: 40px; }
      .casestudy-section .proj-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; }
        .casestudy-section .proj-title strong {
          margin: 0; }
        .casestudy-section .proj-title span {
          margin-top: 24px; } }

.process-section {
  background: #0d0d0c;
  padding: 80px 0; }
  .process-section .section-title {
    color: #fff; }
  .process-section .process-row {
    margin-bottom: 60px; }
  .process-section .process-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .process-section .process-details {
    max-width: 390px;
    margin: 0 auto; }
    .process-section .process-details + .process-details {
      margin-top: 50px; }
    .process-section .process-details span {
      display: block;
      color: #35373D;
      font-size: 48px;
      font-family: "Yrsa", serif;
      font-weight: 700; }
    .process-section .process-details h4 {
      margin-top: 0;
      font-size: 28px;
      color: #fff; }
    .process-section .process-details p {
      margin: 0;
      color: #fff; }
  @media screen and (max-width: 991px) {
    .process-section .process-row {
      margin-bottom: 40px; } }
  @media screen and (max-width: 768px) {
    .process-section .process-details h4 {
      margin: 0; } }

/*===========================================
	Company Pages styles
=============================================*/
.why-section {
  padding: 30px 0; }
  .why-section p {
    line-height: 29px;
    letter-spacing: 0.03em;
    -moz-column-fill: auto;
    /* Firefox */
    -webkit-column-fill: auto;
    column-fill: auto; }
  @media screen and (max-width: 991px) {
    .why-section {
      padding: 40px 0; }
      .why-section p {
        height: auto;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        width: 100%; } }

.how-section {
  padding: 30px 0; }
  .how-section ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .how-section ul li {
      position: relative;
      padding-left: 36px;
      line-height: 29px;
      letter-spacing: 0.03em;
      margin-bottom: 24px; }
      .how-section ul li i {
        position: absolute;
        left: 0;
        top: 10px; }
  @media screen and (max-width: 991px) {
    .how-section {
      padding: 40px 0; } }

.team-section {
  padding-top: 30px; }
  .team-section .team-main-img {
    margin-bottom: 40px; }
    .team-section .team-main-img img {
      margin: 0 auto; }
  @media screen and (max-width: 991px) {
    .team-section {
      padding-top: 40px; }
      .team-section .team-main-img {
        margin-bottom: 40px; }
      .team-section .employee-card {
        margin-bottom: 30px !important; } }
  .team-section .team-list {
    list-style: none;
    padding: 0; }
    .team-section .team-list .employee-card {
      margin-bottom: 40px; }
      .team-section .team-list .employee-card .emp-img {
        width: 150px;
        height: 150px;
        margin: 0 auto; }
        .team-section .team-list .employee-card .emp-img img {
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          -ms-border-radius: 100%;
          border-radius: 100%;
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover;
          border: 1px solid #eee; }
      .team-section .team-list .employee-card .emp-info {
        margin-top: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center; }
        .team-section .team-list .employee-card .emp-info .emp-name {
          font-size: 18px;
          font-family: "Yrsa", serif;
          font-weight: 700;
          color: #000; }
        .team-section .team-list .employee-card .emp-info span {
          font-size: 14px;
          letter-spacing: 0.03em;
          color: #000;
          display: block;
          margin-bottom: 10px; }
        .team-section .team-list .employee-card .emp-info .emp-link {
          display: inline-block;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          border-radius: 4px;
          background: #FFC700;
          font-size: 14px;
          padding: 3px 10px;
          font-weight: 700;
          color: #191B20;
          line-height: normal; }

.employee-section .emp-img {
  padding-right: 110px; }
  .employee-section .emp-img img {
    margin: 0 auto; }
  @media screen and (max-width: 991px) {
    .employee-section .emp-img {
      text-align: center;
      padding-right: 0; } }

.employee-section .emp-title {
  font-family: "Yrsa", serif;
  text-transform: capitalize;
  color: #000;
  font-size: 28px;
  font-weight: 700; }

.employee-section .emp-position {
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px; }
  .employee-section .emp-position .emp-link {
    margin-left: 16px;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background: #FFC700;
    font-size: 14px;
    padding: 3px 10px;
    font-weight: 700;
    color: #191B20;
    line-height: 16px; }

.employee-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  color: #000; }
  .employee-section ul li {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    position: relative;
    padding-left: 26px; }
    .employee-section ul li i {
      position: absolute;
      left: 0;
      top: 5px;
      font-size: 14px; }
    @media screen and (max-width: 768px) {
      .employee-section ul li {
        float: none;
        width: 100%; } }

.employee-section .proj-desc {
  color: #000;
  line-height: 29px;
  letter-spacing: 0.03em; }

.recent-posts-section {
  padding-top: 60px; }
  .recent-posts-section .post-item {
    margin-bottom: 20px; }
    .recent-posts-section .post-item .post-img a {
      display: block; }
      .recent-posts-section .post-item .post-img a span {
        font-size: 22px;
        font-weight: 700;
        font-family: "Yrsa", serif;
        display: block;
        margin-top: 20px; }

@media screen and (max-width: 991px) {
  .application-img {
    display: none; } }

/*===========================================
	Careers Pages styles
=============================================*/
.career-code-section .code-content {
  background: #FFC700;
  color: #191B20; }

.career-code-section .code-block h2 {
  color: #191B20; }

.career-tips {
  padding-top: 60px;
  padding-bottom: 25px; }
  @media screen and (max-width: 991px) {
    .career-tips {
      padding: 30px 0; } }
  .career-tips .section-title {
    margin-bottom: 40px; }
  .career-tips .tips-list {
    list-style: none;
    padding: 0;
    margin: 0; }
    @media screen and (max-width: 991px) {
      .career-tips .tips-list {
        margin: 0;
        margin-top: 30px; } }
    .career-tips .tips-list li {
      margin-bottom: 40px;
      padding: 0 30px;
      padding-left: 80px;
      position: relative; }
      .career-tips .tips-list li img {
        position: absolute;
        left: 0;
        top: -5px;
        width: 64px; }
      .career-tips .tips-list li h3 {
        font-size: 18px;
        margin: 0;
        margin-bottom: 5px;
        color: #191B20;
        font-family: "Open Sans", sans-serif; }
      .career-tips .tips-list li p {
        margin: 0;
        color: #35373D;
        font-size: 14px; }
    @media screen and (max-width: 768px) {
      .career-tips .tips-list {
        display: block; }
        .career-tips .tips-list li {
          padding-right: 0;
          width: 100%;
          max-width: 100%; } }

.positions-section {
  padding: 60px 0; }
  @media screen and (max-width: 991px) {
    .positions-section {
      padding: 30px 0; } }

.empty-block {
  padding: 60px 0;
  margin: 0 40px;
  background: #0d0d0c;
  color: #fff; }
  @media screen and (max-width: 991px) {
    .empty-block {
      margin-left: 0;
      margin-right: 0;
      padding: 40px 0; } }
  .empty-block .empty-wrapper {
    max-width: 700px;
    margin: 0 auto; }
  .empty-block .section-title {
    color: #fff; }
  .empty-block p {
    margin-bottom: 40px;
    margin-left: 60px;
    font-size: 22px;
    font-family: "Yrsa", serif; }
    @media screen and (max-width: 768px) {
      .empty-block p {
        font-size: 18px;
        margin-bottom: 20px;
        margin-left: 0; } }
    .empty-block p:last-child {
      margin-bottom: 0; }
    .empty-block p a {
      color: #FFC700;
      text-decoration: underline; }

.req-section {
  padding-top: 40px; }
  .req-section .req-list {
    margin-bottom: 60px;
    padding-right: 40px; }
    .req-section .req-list h4 {
      margin: 0;
      margin-bottom: 20px;
      font-size: 22px; }
    .req-section .req-list ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      .req-section .req-list ul li {
        margin-bottom: 15px;
        position: relative;
        line-height: 29px;
        letter-spacing: 0.03em;
        color: #35373D;
        padding-left: 35px; }
        .req-section .req-list ul li:last-child {
          margin: 0; }
        .req-section .req-list ul li i {
          position: absolute;
          left: 0;
          top: 8px;
          font-size: 16px; }

.application-section {
  padding: 60px 0; }
  @media screen and (max-width: 768px) {
    .application-section {
      padding: 30px 0; } }

.custom-form .form-group {
  margin-bottom: 30px; }

.custom-form .form-action {
  margin-top: 40px; }

.custom-form label.form-label {
  color: #191B20;
  font-family: "Yrsa", serif;
  font-weight: 700;
  margin-bottom: 0;
  font-size: 18px; }

.custom-form .form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #191B20;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: #191B20;
  padding: 0;
  font-size: 14px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }
  .custom-form .form-control:focus {
    border-color: #FFC700; }

.custom-form textarea.form-control {
  min-height: 100px; }

.custom-form .attach-link {
  border: 2px dashed #35373D;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  display: block;
  padding: 32px;
  color: #35373D;
  line-height: 25px;
  text-align: center; }
  .custom-form .attach-link:hover {
    background: #F3F4F4; }

.custom-form .form-check {
  padding-left: 26px;
  margin-top: 5px; }
  .custom-form .form-check input[type="checkbox"] {
    margin-top: 9px;
    margin: 0;
    top: 8px;
    left: 0; }
  .custom-form .form-check label {
    color: #191B20;
    letter-spacing: 0.03em;
    line-height: 29px; }

/*===========================================
	Main Blog styles
=============================================*/
.blog-topics {
  background: #F3F4F4;
  margin-bottom: 40px; }
  .blog-topics-list {
    min-height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
    .blog-topics-list a {
      font-weight: 600;
      font-size: 14px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 10px 30px; }
      .blog-topics-list a:hover {
        color: #35373D;
        background: rgba(255, 255, 255, 0.5); }
    @media screen and (max-width: 768px) {
      .blog-topics-list {
        height: auto;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .blog-topics-list a {
          padding: 10px 20px; } }
    @media screen and (max-width: 576px) {
      .blog-topics-list a {
        padding: 10px; } }

.blog-index {
  padding-right: 40px; }
  @media screen and (max-width: 991px) {
    .blog-index {
      padding-right: 15px; } }

.blog-post {
  margin-bottom: 60px; }
  @media screen and (max-width: 991px) {
    .blog-post {
      margin-bottom: 40px; } }
  .blog-post-title {
    margin: 0; }
  .blog-post-metadata {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 20px; }
    .blog-post-metadata .author-img {
      width: 50px;
      height: 50px;
      margin-right: 20px; }
      .blog-post-metadata .author-img img {
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        border-radius: 100%;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
    .blog-post-metadata .post-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      font-size: 14px; }
      .blog-post-metadata .post-info strong {
        font-weight: 600; }
      .blog-post-metadata .post-info .metadata-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .blog-post-metadata .post-info .metadata-info span {
          color: #999;
          margin-right: 20px; }
        .blog-post-metadata .post-info .metadata-info .topics a {
          display: inline-block;
          background: #F3F4F4;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          border-radius: 4px;
          padding: 5px 12px;
          margin-right: 5px;
          font-size: 14px;
          color: #35373D; }
          .blog-post-metadata .post-info .metadata-info .topics a:hover {
            background: #35373D;
            color: #fff; }
  .blog-post-image {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    margin-top: 20px;
    width: 100%;
    height: 300px;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px rgba(153, 153, 153, 0.5);
    box-shadow: 0 0 10px rgba(153, 153, 153, 0.5); }
    @media screen and (max-width: 768px) {
      .blog-post-image {
        height: auto; } }
    .blog-post-image a {
      display: block;
      position: relative;
      width: 100%;
      height: 100%; }
      .blog-post-image a i {
        width: 100%;
        height: 100%;
        background: rgba(255, 199, 0, 0.9);
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 48px;
        opacity: 0; }
      .blog-post-image a:hover i {
        opacity: 1; }
    .blog-post-image img {
      width: 100%; }
  .blog-post-content {
    margin-top: 20px;
    line-height: 28px; }
    .blog-post-content h2 {
      margin: 40px 0 10px 0;
      font-size: 28px; }
    .blog-post-content h3 {
      margin: 40px 0 10px 0;
      font-size: 22px; }
    .blog-post-content p {
      margin-bottom: 20px;
      line-height: 28px; }
    .blog-post-content img {
      max-width: 100%; }
    .blog-post-content ul {
      padding-left: 40px;
      list-style: circle;
      line-height: 28px; }
    .blog-post-content a {
      color: #FFC700; }
    .blog-post-content strong {
      font-weight: 700; }
  .blog-post-read {
    margin-top: 20px; }
    .blog-post-read a {
      font-weight: bold;
      line-height: normal;
      padding-bottom: 8px;
      border-bottom: 3px solid #FFC700;
      display: inline-block;
      font-size: 14px;
      text-transform: uppercase; }
      .blog-post-read a i {
        margin-left: 10px; }
  .blog-post-author {
    margin-top: 60px;
    border: 1px solid #ddd;
    padding: 40px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #fafafa;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .blog-post-author .author-img {
      width: 90px;
      height: 90px;
      margin-right: 20px; }
      .blog-post-author .author-img img {
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        border-radius: 100%;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        border: 5px solid #fff; }
    .blog-post-author .author-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .blog-post-author .author-info span {
        color: #999;
        margin-top: 10px; }
  .blog-post .newsletter-block {
    padding-bottom: 40px;
    background-color: #fbfbfb; }
    .blog-post .newsletter-block h5 {
      text-align: center;
      font-size: 18px; }
    .blog-post .newsletter-block .newsletter-form {
      max-width: 330px;
      margin: 0 auto; }

.blog .most-popular {
  position: -webkit-sticky;
  position: sticky;
  top: 40px; }
  @media screen and (max-width: 991px) {
    .blog .most-popular {
      margin-top: 40px;
      border-top: 1px solid #ddd;
      padding-top: 40px;
      position: static; } }
  .blog .most-popular h3 {
    font-size: 28px;
    margin-bottom: 30px; }
  .blog .most-popular .article-item {
    margin-bottom: 20px; }
    .blog .most-popular .article-item-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
    .blog .most-popular .article-item-img {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      width: 100px;
      height: 75px;
      overflow: hidden;
      margin-right: 20px;
      -webkit-box-shadow: 0 0 4px rgba(153, 153, 153, 0.5);
      box-shadow: 0 0 4px rgba(153, 153, 153, 0.5); }
      .blog .most-popular .article-item-img img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
    .blog .most-popular .article-item-details {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: calc(100% - 120px); }
      .blog .most-popular .article-item-details strong {
        font-size: 13px;
        font-weight: 600; }
      .blog .most-popular .article-item-details span {
        margin-top: 5px;
        color: #999;
        font-size: 14px; }

/* Newsletter Block */
.newsletter-block {
  background: #fff;
  -webkit-box-shadow: 0 2px 19px 0 rgba(184, 184, 184, 0.24);
  box-shadow: 0 2px 19px 0 rgba(184, 184, 184, 0.24);
  padding: 33px 24px;
  margin-bottom: 20px;
  margin-top: 20px; }
  .newsletter-block h5 {
    font-size: 16px;
    margin-bottom: 16px;
    font-family: "Open Sans", sans-serif;
    color: #35373D;
    line-height: normal;
    padding: 0 20px; }

.newsletter-form {
  position: relative; }
  .newsletter-form .form-control {
    height: 40px;
    border-radius: 0;
    padding-right: 100px; }
  .newsletter-form .btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 10px;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 0;
    line-height: normal; }
  .newsletter-form .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 12px; }
  .newsletter-form .form-control::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 12px; }
  .newsletter-form .form-control:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 12px; }
  .newsletter-form .form-control:-moz-placeholder {
    /* Firefox 18- */
    font-size: 12px; }
  .newsletter-form .form-control::-ms-input-placeholder {
    font-size: 12px; }
  .newsletter-form .form-control::placeholder {
    font-size: 12px; }

.newsletter-modal {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8); }
  .newsletter-modal .newsletter-block {
    position: relative;
    width: 330px; }
    .newsletter-modal .newsletter-block .close-popup {
      position: absolute;
      top: 16px;
      right: 16px;
      color: #000;
      opacity: .2; }
      .newsletter-modal .newsletter-block .close-popup:hover {
        opacity: .7; }

/* Pagination */
.pagination {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
