/*===========================================
	Company Pages styles
=============================================*/
.how-section ul {
  list-style: none;
  padding: 0;
  margin: 0 li;
    margin-position: relative;
    margin-padding-left: 36px;
    margin-line-height: 29px;
    margin-letter-spacing: 0.03em;
    margin-margin-bottom: 24px; }
  .how-section ul i {
    position: absolute;
    left: 0;
    top: 0; }
