// -----------------------------------------------------------------------------
// This file contains all application Sass variables.
// -----------------------------------------------------------------------------
/* Colors */
$main-color: #FFC700;
$sec-color: #0BA14B; 
$pink-color: #ea0066;

$black: #000;
$black-light: #0d0d0c;
$gray-dark: #191B20;
$gray: #35373D;
$gray-light: #999;
$gray-lighter: #F3F4F4;

$white: #fff;
$purple-color: #8300ea;
$yellow-color: #FFC700;
$orange-color: #f29604;
$red-color: #e20d0d;
$green-color: #72bd5a;


$border-color: #ddd;

/* fonts */
$font-light: 300;
$font-reg: 400;
$font-med: 600;
$font-bold: 700;
$font-extra-bold: 900;

$font-xxl: 48px;
$font-xl: 36px;
$font-lg: 28px;
$font-xmd: 22px;
$font-md: 18px;
$font-sm: 16px;
$font-xs: 14px;

$text-font-family: 'Open Sans', sans-serif;
$title-font-family: 'Yrsa', serif;


/* Responsive */
$breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;

$break-xl: 1200px;
$break-lg: 991px;
$break-md: 768px;
$break-sm: 576px;

$default-space: 20px;

/* blocks */
.easing{
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


/* Mixin */
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
