/*===========================================
	Main Blog styles
=============================================*/
.blog{
	&-topics{
		background: $gray-lighter;
		margin-bottom: $default-space*2;
		&-list{
			min-height: $default-space*3;
			display: flex;
			align-items: stretch;
			a{
				font-weight: $font-med;
				font-size: $font-xs;
				display: flex;
				align-items: center;
				padding: $default-space/2 30px;
				&:hover{
					color: $gray;
					background: rgba($white , .5);
				}
			}
			@media screen and (max-width: $break-md){
				height: auto;
				flex-wrap: wrap;
				a{
					padding: $default-space/2 $default-space;
				}
			}
			@media screen and (max-width: $break-sm){
				a{
					padding: $default-space/2;
				}
			}
		}
	}

	&-index{
		padding-right: $default-space*2;
		@media screen and (max-width: $break-lg){
			padding-right: 15px;
		}
	}

	&-post{
		margin-bottom: $default-space*3;
		@media screen and (max-width: $break-lg){
			margin-bottom: $default-space*2;
		}
		&-title{
			margin: 0;
		}

		&-metadata{
			display: flex;
			flex-direction: row;
			margin-top: $default-space;
			.author-img{
				width: 50px;
				height: 50px;
				margin-right: $default-space;
				img{
					@include border-radius(100%);
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.post-info{
				display: flex;
				flex-direction: column;
				font-size: $font-xs;
				strong{
					font-weight: $font-med;
				}
				.metadata-info{
					display: flex;
					flex-direction: row;
					align-items: center;
					span{
						color: $gray-light;
						margin-right: $default-space;
					}
					.topics{
						a{
							display: inline-block;
							background: $gray-lighter;
							@include border-radius(4px);
							padding: 5px 12px;
							margin-right: 5px;
							font-size: $font-xs;
							color: $gray;
							&:hover{
								background: $gray;
								color: $white;
							}
						}
					}
				}
			}
		}

		&-image{
			@include border-radius(4px);
			margin-top: $default-space;
			width: 100%;
			height: 300px;
			overflow: hidden;
			box-shadow: 0 0 10px rgba($gray-light, .5);
			@media screen and (max-width: $break-md){
				height: auto;
			}
			a{
				display: block;
				position: relative;
				width: 100%;
				height: 100%;
				i{
					@extend .easing;
					width: 100%;
					height: 100%;
					background: rgba($main-color, .9);
					z-index: 1;
					position: absolute;
					left: 0;
					top: 0;
					color: $white;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: $font-xxl;
					opacity: 0;
				}
				&:hover{
					i{
						opacity: 1;
					}
				}
			}
			img{
				width: 100%;
			}
		}

		&-content{
			margin-top: $default-space;
			line-height: $font-lg;
			h2{
				margin: $default-space*2 0 $default-space/2 0;
				font-size: $font-lg;
			}
			h3{
				margin: $default-space*2 0 $default-space/2 0;
				font-size: $font-xmd;
			}
			p{
				margin-bottom: $default-space;
				line-height: $font-lg;
			}
			img{
				max-width: 100%;
			}
			ul{
				padding-left: $default-space*2;
				list-style: circle;
				line-height: $font-lg;
			}
			a{
				color: $main-color;
			}
			strong{
				font-weight: $font-bold;
			}
		}

		&-read{
			margin-top: $default-space;
			a{
				font-weight: bold;
				line-height: normal;
				padding-bottom: 8px;
				border-bottom: 3px solid $main-color;
				display: inline-block;
				font-size: $font-xs;
				text-transform: uppercase;
				i{
					margin-left: $default-space/2;
				}
			}
		}

		&-author{
			margin-top: $default-space*3;
			border: 1px solid $border-color;
			padding: $default-space*2 $default-space;
			display: flex;
			justify-content: center;
			background: #fafafa;
			align-items: center;
			.author-img{
				width: 90px;
				height: 90px;
				margin-right: $default-space;
				img{
					@include border-radius(100%);
					width: 100%;
					height: 100%;
					object-fit: cover;
					border: 5px solid $white;
				}
			}
			.author-info{
				display: flex;
				flex-direction: column;
				strong{

				}
				span{
					color: $gray-light;
					margin-top: $default-space/2;
				}
			}		
		}

		.newsletter-block {
			padding-bottom: $default-space*2;
			background-color: #fbfbfb;
			h5{
				text-align: center;
				font-size: $font-md;
			}

			.newsletter-form{
				max-width: 330px;
				margin: 0 auto;
			}
		}
	}

	.most-popular{
		position: sticky;
		top: $default-space*2;
		@media screen and (max-width: $break-lg){
			margin-top: $default-space*2;
			border-top: 1px solid $border-color;
			padding-top: $default-space*2;
			position: static;
		}
		h3{
			font-size: $font-lg;
			margin-bottom: 30px;
		}
		.article-item{
			margin-bottom: $default-space;
			&-content{
				display: flex;
				flex-direction: row;
			}
			&-img{
				@include border-radius(4px);
				width: 100px;
				height: 75px;
				overflow: hidden;
				margin-right: $default-space;
				box-shadow: 0 0 4px rgba($gray-light, .5);
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			&-details{
				display: flex;
				flex-direction: column;
				width: calc(100% - 120px);
				strong{
					font-size: 13px;
					font-weight: $font-med;
				}
				span{
					margin-top: $default-space/4;
					color: $gray-light;
					font-size: $font-xs;
				}
			}
		}
	}
}

/* Newsletter Block */
.newsletter {
	&-block {
		background: $white;
		box-shadow: 0 2px 19px 0 rgba(184, 184, 184, 0.24);
		padding: 33px 24px;
		margin-bottom: $default-space;
		margin-top: $default-space;
		h5 {
			font-size: $font-sm;
			margin-bottom: 16px;
			font-family: $text-font-family;
			color: $gray;
			line-height: normal;
			padding: 0 $default-space;
		}
	}

	&-form {
		position: relative;
		.form-control {
			height: 40px;
			border-radius: 0;
			padding-right: 100px;
		}

		.btn {
			position: absolute;
			right: 0;
			top: 0;
			padding: 0 10px;
			height: 40px;
			font-size: $font-xs;
			font-weight: $font-bold;
			border-radius: 0;
			line-height: normal;
		}

		.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			font-size: 12px;
		}
		.form-control::-moz-placeholder { /* Firefox 19+ */
			font-size: 12px;
		}
		.form-control:-ms-input-placeholder { /* IE 10+ */
			font-size: 12px;
		}
		.form-control:-moz-placeholder { /* Firefox 18- */
			font-size: 12px;
		}
		.form-control::placeholder{
			font-size: 12px;
		}
	}

	&-modal{
		align-items: center;
		justify-content: center;
		background: rgba($black, .8);
		.newsletter-block{
			position: relative;
			width: 330px;
			.close-popup{
				position: absolute;
				top: 16px;
				right: 16px;
				color: $black;
				opacity: .2;
				&:hover{
					opacity: .7;
				}
			}
		}
	}
}

/* Pagination */
.pagination{
	justify-content: center;
}