/*===========================================
	Careers Pages styles
=============================================*/
.career-code-section{
	.code-content{
		background: $main-color;
		color: $gray-dark;
	}
	.code-block{
		h2{
			color: $gray-dark;
		}
	}
}

.career-tips{
	padding-top: $default-space*3;
	padding-bottom: 25px;
	@media screen and (max-width: $break-lg){
		padding: 30px 0;
	}
	.section-title{
		margin-bottom: $default-space*2;
	}
	.tips-list{
		list-style: none;
		padding: 0;
		margin: 0;
		@media screen and (max-width: $break-lg){
			margin: 0;
			margin-top: 30px;
		}
		li{
			margin-bottom: $default-space*2;
			padding: 0 30px;
			padding-left: 80px;
			position: relative;
			img{
				position: absolute;
				left: 0;
				top: -5px;
				width: 64px;
			}
			h3{
				font-size: $font-md;
				margin: 0;
				margin-bottom: 5px;
				color: $gray-dark;
				font-family: $text-font-family;
			}
			p{
				margin: 0;
				color: $gray;
				font-size: 14px;
			}
		}
		@media screen and (max-width: $break-md){
			display: block;
			li{
				padding-right: 0;
				width: 100%;
				max-width: 100%;
			}
		}
	}
}

.positions-section{
	padding: $default-space*3 0;
	@media screen and (max-width: $break-lg){
		padding: 30px 0;
	}
}

.empty-block{
	padding: $default-space*3 0;
	margin: 0 $default-space*2;
	background: $black-light;
	color: $white;
	@media screen and (max-width: $break-lg){
		margin-left: 0;
		margin-right: 0;
		padding: $default-space*2 0;
	}
	.empty-wrapper{
		max-width: 700px;
		margin: 0 auto;
	}
	.section-title{
		color: $white;
	}
	p{
		margin-bottom: $default-space*2;
		margin-left: $default-space*3;
		font-size: $font-xmd;
		font-family: $title-font-family;
		@media screen and (max-width: $break-md){
			font-size: $font-md;
			margin-bottom: $default-space;
			margin-left: 0;
		}
		&:last-child{
			margin-bottom:0;
		}
		a{
			color: $main-color;
			text-decoration: underline;
		}
	}
}

.req-section{
	padding-top: $default-space*2;
	.req-list{
		margin-bottom: $default-space*3;
		padding-right: $default-space*2;
		h4{
			margin: 0;
			margin-bottom: $default-space;
			font-size: $font-xmd;
		}
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
			li{
				margin-bottom: 15px;
				position: relative;
				line-height: 29px;
				letter-spacing: 0.03em;
				color: $gray;
				padding-left: 35px;
				&:last-child{
					margin: 0;
				}
				i{
					position: absolute;
					left: 0;
					top: 8px;
					font-size: $font-sm;
				}
			}
		}
	}
}

.application-section{
	padding: $default-space*3 0;
	@media screen and (max-width: $break-md){
		padding: 30px 0;
	}
}

.custom-form{
	.form-group {
		margin-bottom: 30px;
	}
	.form-action{
		margin-top: $default-space*2;
	}
	label.form-label{
		color: $gray-dark;
		font-family: $title-font-family;
		font-weight: $font-bold;
		margin-bottom: 0;
		font-size: $font-md;
	}
	.form-control{
		@include border-radius(0);
		border: none;
		border-bottom: 2px solid $gray-dark;
		letter-spacing: 0.03em;
		font-weight: $font-bold;
		color: $gray-dark;
		padding: 0;
		font-size: 14px;
		box-shadow: none !important;
		&:focus{
			border-color: $main-color;
		}
	}
	textarea{
		&.form-control{
			min-height: 100px;
		}
	}
	.attach-link{
		border: 2px dashed $gray;
		@include border-radius(4px);
		display: block;
		padding: 32px;
		color: $gray;
		line-height: 25px;
		text-align: center;
		&:hover{
			background: $gray-lighter;
		}
	}

	.form-check{
		padding-left: 26px;
		margin-top: 5px;
		input[type="checkbox"]{
			margin-top: 9px;
			margin:0;
			top: 8px;
			left: 0;
		}
		label{
			color: $gray-dark;
			letter-spacing: 0.03em;
			line-height: 29px;
		}
	}
}