/*===========================================
	Company Pages styles
=============================================*/
.why-section{
	padding: 30px 0;
	p{
		line-height: 29px;
		letter-spacing: 0.03em;
		-moz-column-fill: auto; /* Firefox */
		  column-fill: auto;
	}

	@media screen and (max-width: $break-lg){
		padding: 40px 0;
		
		p{
			height: auto;
			-webkit-column-count: 1;
			-moz-column-count: 1;
			column-count: 1;
			width: 100%;
		}
	}
}

.how-section{
	padding: 30px 0;
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		li{
			position: relative;
			padding-left: 36px;
			line-height: 29px;
			letter-spacing: 0.03em;
			margin-bottom: 24px;
			i{
				position: absolute;
				left: 0;
				top: 10px;
			}
		}
	}

	@media screen and (max-width: $break-lg){
		padding: 40px 0;
		
	}
}

.team-section{
	padding-top: 30px;

	.team-main-img{
		margin-bottom: $default-space*2;

		img{
			margin: 0 auto;
		}
	}

	@media screen and (max-width: $break-lg){
		padding-top: 40px;
		
		.team-main-img{
			margin-bottom: 40px;
		}
		.employee-card{
			margin-bottom: 30px !important;
		}
	}
	.team-list{
		list-style: none;
		padding: 0;

		.employee-card{
			margin-bottom: $default-space*2;
			.emp-img{
				width: 150px;
				height: 150px;
				margin: 0 auto;
				img{
					@include border-radius(100%);
					width: 100%;
					height: 100%;
					object-fit: cover;
					border: 1px solid #eee;
				}
			}

			.emp-info{
				margin-top: $default-space;
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				.emp-name{
					font-size: $font-md;
					font-family: $title-font-family;
					font-weight: $font-bold;
					color: $black;
				}
				span{
					font-size: $font-xs;
					letter-spacing: 0.03em;
					color: $black;
					display: block;
					margin-bottom: 10px;
				}
				.emp-link{
					display: inline-block;
					@include border-radius(4px);
					background: $main-color;
					font-size: $font-xs;
					padding: 3px 10px;
					font-weight: $font-bold;
					color: $gray-dark;
					line-height: normal;
				}
			}
		}
	}
}

.employee-section{
	.emp-img{
		padding-right: 110px;
		img{
			margin: 0 auto;
		}

		@media screen and (max-width: $break-lg){
			text-align: center;
			padding-right: 0;
		}
	}
	.emp-title{
		font-family: $title-font-family;
		text-transform: capitalize;
		color: $black;
		font-size: $font-lg;
		font-weight: $font-bold;
	}
	.emp-position{
		letter-spacing: 0.03em;
		display: flex;
		align-items: center;
		margin-bottom: $default-space*2;
		.emp-link{
			margin-left: 16px;
			display: inline-block;
			@include border-radius(4px);
			background: $main-color;
			font-size: $font-xs;
			padding: 3px 10px;
			font-weight: $font-bold;
			color: $gray-dark;
			line-height: 16px;
		}		
	}
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
		margin-bottom: $default-space;
		color: $black;
		li{
			float: left;
			width: 50%;
			margin-bottom: 16px;
			position: relative;
			padding-left: 26px;
			i{
				position: absolute;
				left: 0;
				top: 5px;
				font-size: $font-xs;
			}
			@media screen and (max-width: $break-md){
				float: none;
				width: 100%;
			}
		}
	}
	.proj-desc{
		color: $black;
		line-height: 29px;
		letter-spacing: 0.03em;
	}
}

.recent-posts-section{
	padding-top: $default-space*3;
	.post-item{
		margin-bottom: $default-space;
		.post-img{
			a{
				display: block;
				img{

				}
				span{
					font-size: $font-xmd;
					font-weight: $font-bold;
					font-family: $title-font-family;
					display: block;
					margin-top: $default-space;
				}
			}
		}
	}
}

.application-img{
	@media screen and (max-width: $break-lg){
		display: none;
	}	
}