/*===========================================
	Main Home Page styles
=============================================*/
.home-section{
	padding: $default-space*3 0;
	@media screen and (max-width: $break-lg){
		padding: $default-space*1.5 0;
	}
}

.code-section{
	padding: 0 $default-space*2;
	.code-content{
		background: $black-light;
		padding: $default-space*3 0;
		color: $white;
	}

	.code-block{
		padding:0 $default-space;
		h2{
			color: $white;
			.code-braket{
				margin-left: $default-space*3;
			}
		}
		.code-braket{
			height: 50px;
		}

		p{
			font-size: 28px;
			font-family: $title-font-family;
			margin-bottom: $default-space;
			margin-left: $default-space*5;

		}

		.btn{
			margin-bottom: 30px;
			margin-left: $default-space*5;
		}
	}

	@media screen and (max-width: $break-lg){
		padding: 0;
		.code-content{
			padding: 30px 0;
		}
	}

	@media screen and (max-width: $break-md){
		.code-block{
			margin-left: 0;
			.code-braket{
				height: 35px;
			}
			h2{
				.code-braket{
					margin-left: $default-space*2;
				}
			}
			p{
				font-size: $font-xmd;
				margin-left: $default-space*3;
				margin-bottom: $default-space;
			}
			.btn{
				margin-left: $default-space*3;
			}
		}
	}

	@media screen and (max-width: $break-sm){
		.code-block{
			h2{
				.code-braket{
					margin-left: $default-space/4;
				}
			}
			p{
				font-size: $font-sm;
				margin-left: 0;
				font-family: $text-font-family;
			}
			.btn{
				margin-left: 0;
				padding: 12px 15px;
				display: block;
			}
		}
	}

	&.hero-section{
		text-align: left;
		.code-block{
			margin-left: $default-space*5;
			.section-title{
				color: $gray-dark;
			}
			p{
				font-size: $font-xmd;
				line-height: 30px;
			}

			@media screen and (max-width: $break-md){
				margin-left: 0;
			}
			@media screen and (max-width: $break-sm){
				p{
					font-size: $font-sm;
					line-height: 1.5;
				}
			}
		}

	}
}

.services-section{
	.sub-title{
		margin-top: $default-space;
		margin-bottom: $default-space*2;
	}

	.main-services{
		display: flex;
		align-items: center;
		position: relative;
		img{
			position: -webkit-sticky;
			position: -moz-sticky;
			position: -ms-sticky;
			position: -o-sticky;
			position: sticky;
			top: 0;
			/*@media screen and (min-device-width : $break-md) and (min-device-width : 1024px){
				position: static;

			}*/
		}
	}

	.services-list{
		list-style: none;
		padding: 0;
		.services-item{
			margin-top: $default-space*2;
			h3{
				font-size: $font-xmd;
				margin-bottom: $default-space/2;
			}
			p{
				margin-bottom: 30px;
				max-width: 500px;
			}
			a{
				font-weight: bold;
				line-height: normal;
				padding-bottom: 8px;
				border-bottom: 3px solid $main-color;
				display: inline-block;
				font-size: $font-xs;
				text-transform: uppercase;
				i{
					margin-left: $default-space/2;
				}
			}

			@media screen and (max-width: $break-md){
				margin-top: 30px;
			}
		}
	}
}

.projects-section{
	background: $black-light;
	margin: 0 $default-space*2;
	@media screen and (max-width: $break-lg){
		margin: 0;
	}
	> .container{
		padding: 0 15px;
	}
	.proj-carousel{
		color: $white;

		.proj-item{
			> .row{
				margin: 0;
			}
			.section-title{
				color: $white;
				padding: 0 15px;
			}
			.proj-carousel-img{
				margin: 0 5px;
				padding-top: 5px;
				img{
					height: 280px;
				}
				@media screen and (max-width: $break-lg){
					margin-bottom: $default-space;
					img{
						height: auto;
					}
				}
			}

			.proj-category{
				margin-top: $default-space/2;
				label{
					display: inline-block;
					background: $main-color;
					font-family: $title-font-family;
					font-weight: $font-bold;
					font-size: $font-xmd;
					padding: 5px 16px;
				}
			}

			p{
				line-height: 29px;
				min-height: 270px;
				@media screen and (max-width: $break-lg){
					min-height: 0;
				}
				@media screen and (max-width: $break-sm){
					line-height: 1.5;
				}
			}

			.proj-action{
				margin-top: $default-space*2;
				margin-bottom: 5px;
				@media screen and (max-width: $break-sm){
					margin: 30px 5px;
					.btn{
						display: block;
						padding: 12px 10px;
					}
				}
				@media screen and (max-width: $break-sm){
					margin-bottom: 5px;
				}
			}
		}

		.owl-nav{
			text-align: right;
			padding-right: $default-space;
			position: absolute;
			right: 0;
			bottom: 15px;
			&:after{
				position: absolute;
				right: 0;
				top: -14px;
				height: 77px;
				width: 135px;
				background: $black-light;
				display: block;
				content: "";
			}
			button{
				margin-left: 15px;
				position: relative;
				z-index: 1;
			}
			@media screen and (max-width: $break-sm){
				position: static;
				padding: 0;
				margin: 0;
				margin-top: $default-space;
				text-align: center;
				&:after{
					display: none;
				}
			}
		}
	}
}

.clients-section{
	
	.client-img{
		display: flex;
		justify-content: center;
		align-items: flex-start;
		img{
			max-height: 130px;
			width: auto;
			@media screen and (max-width: $break-sm){
				height: 100px;
			}
		}
	}
	.client-details{
		.section-title{
			margin-bottom: $default-space;
		}
		.client-rating{
			display: flex;
			align-items: center;
			margin-bottom: $default-space;
			img{
				max-width: 65px;
			}
			.stars{
				margin: 0 15px;
				font-size: 14px;
				i{
					color: $main-color;
					&.disabled{
						color: rgba($gray-light , .2);
					}
				}
			}
			strong{
				color: $gray-dark;
				font-size: 20px;
				small{
					font-size: $font-xs;
				}
			}
		}
		p{
			margin-bottom: $default-space/2;
		}
	}

	.owl-carousel{
		.owl-nav{
			text-align: right;
			position: absolute;
			bottom: -90px;
			right: 0;
			button{
				&.owl-prev, &.owl-next{
					border: 3px solid $gray-dark;
					box-shadow: 4px 4px 0px $gray-dark;
					background-color: $white;
					margin-left: $default-space/2;
					&:hover{
						background-color: $gray-lighter;
					}
				}
				&.owl-prev{
					background-image: url('../images/icons/arrow-left-small.svg');
				}
				&.owl-next{
					background-image: url('../images/icons/arrow-right-small.svg');
				}	
			}
			@media screen and (max-width: $break-lg){
				text-align: center;
				width: 100%;
				bottom: -150px;
			}
		}
	}

	.owl-dots{
		display: flex;
		justify-content: center;
		padding-right: 130px;
		margin-top: 30px;
		li{
			padding: $default-space/2 $default-space;
			height: $default-space*4;
			display: inline-block;
			display: flex;
			justify-content: center;
			align-items: center;
			opacity: .5;
			&:hover{
				opacity: 1;
			}
			&.active{
				opacity: 1;
				background: rgba($gray-lighter, .2);
			}
			img{
				max-width: 100px;
				cursor: pointer;
			}
			&:after , &:before{
				display: none;
			}
		}
		@media screen and (max-width: $break-lg){
			padding: 0;
			margin-bottom: 70px;
			li{
				height: 50px;
				padding: $default-space/2 0;
			}
		}
	}
	
}

.testimonial-section{
	
	.section-title{
		color: $white;
		margin-left: 150px;
		margin-bottom: 30px;
		@media screen and (max-width: $break-lg){
			margin-left: 0;
			margin-bottom: $default-space;
		}
	}
	.code-block{
		margin: 0 150px;
		P{
			position: relative;
			font-family: $text-font-family;
			font-size: $font-md;
			line-height: normal;
			&:first-child{
				margin-bottom: 0;
			}
			.decor{
				position: absolute;
				width: 41px;
				height: 38px;
				background: url('../images/icons/decor.svg');
				left: -85px;
				top: -10px;
				background-size: contain;
			}

		}

		@media screen and (max-width: $break-lg){
			margin: 0;
		}
		@media screen and (max-width: $break-md){
			p{
				margin-left: 0;
				.decor{
					display: none;
				}
			}
		}
		@media screen and (max-width: $break-sm){
			p{
				font-size: $font-sm;
			}
		}
	}

	.client-block{
		display: flex;
		margin-top: 30px;
		.c-img{
			width: 64px;
			height: 64px;
			margin-right: 33px;
			img{
				border-radius: 100%;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.c-info{
			h4{
				font-family: $text-font-family;
				font-size: 20px;
				line-height: 33px;
				color: $gray-dark;
				margin-bottom: 5px;
				color: $white;
				span{
					background: $white;
					color: $gray-dark;
					font-size: $font-xs;
					line-height: normal;
					font-weight: bold;
					font-family: $text-font-family;
					padding: 2px 5px;
					border-radius: 3px;
				}
			}
			p{
				font-family: $text-font-family;
				margin: 0;
				font-size: $font-xs;
				padding: 0;
				color: $white;
			}
		}
		@media screen and (max-width: $break-lg){
			margin-top: $default-space;
		}
		@media screen and (max-width: $break-sm){
			.c-info{
				h4{
					display: flex;
					flex-direction: column;
					align-items: flex-start;
				}
			}
		}
	}

	.owl-nav{
		text-align: right;
		button{
			margin-left: 15px;
		}
		@media screen and (max-width: $break-sm){
			text-align: center;
			margin-top: $default-space;
		}
	}
}

.help-section{
	margin: 40px;
	background: $gray-lighter;
	@media screen and (max-width: $break-md){
		margin: 0;
	}
	.help-caption{
		max-width: 430px;
		h2{
			font-size: $font-xxl;
			margin-bottom: $default-space*2;
			line-height: $font-xxl;

			@media screen and (max-width: $break-lg){
				font-size: $font-lg;
			}
		}

		.help-txt{
			margin-bottom: $default-space*2;
			color: $gray-dark;
			strong{
				display: block;
				font-family: $title-font-family;
				font-size: $font-xmd;
				margin-bottom: $default-space/4;
			}
			p{
				margin: 0;
				& +p{
					margin-top: 5px;
					display: inline-block;
				}
			}
		}
		.btn{
			margin-top: 15px;
		}
	}
}


