/*===========================================
	Main Services styles
=============================================*/
.projs-section{
	padding-top: $default-space*2;
	.tags-list{
		margin-bottom: $default-space/2;
	}
}

.proj-list{
	list-style: none;
	padding: 0;
	.portfolio{
		padding-top: 0 !important;
		height: 626px;
	}
	.proj-item{
		margin-bottom: $default-space*2;
		.proj-img{
			margin-bottom: $default-space; 
			a{
				display: block;
				img{
          			width: 100%;
          			min-height: 291;
					@include border-radius(4px);
					border: 1px solid #eee;
				}
			}
		}
		.proj-tags{
			margin-bottom: $default-space;
			a{
				display: inline-block;
				background: $gray-lighter;
				@include border-radius(4px);
				padding: 5px 12px;
				margin-right: 5px;
				margin-bottom: $default-space/4;
				font-size: $font-xs;
				color: $gray;
				&:hover{
					background: $gray;
					color: $white;
				}
			}
		}
		.proj-title{
			font-family: $title-font-family;
			text-transform: capitalize;
			color: $gray-dark;
			display: flex;
			align-items: center;
			margin-bottom: $default-space/2;
			a{
				color: $gray-dark;
				letter-spacing: 0.01em;
				font-weight: $font-bold;
				font-size: $font-lg;
				margin-right: 30px;
			}
			span{
				background: $main-color;
				font-size: $font-md;
				display: inline-block;
				padding: 5px 15px;
				font-weight: $font-bold;
			}
		}
		.proj-desc{
			letter-spacing: 0.03em;
			color: #58585A;
		}

		@media screen and (max-width: $break-lg){
			margin-bottom: 40px;
			.proj-title{
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				a{
					margin: 0;
				}
			}	
		}
	}

}

.casestudy-section{
	border-bottom: 3px solid rgba($border-color , .7);

	.project-sidebar{
		background: rgba($gray-lighter, .3);
		margin-top: -20px;
		padding: 20px 30px;
		height: calc(100% + 20px);

		@media screen and (max-width: $break-lg){
			margin-top: 0;
			margin-bottom: $default-space*2;
			height: auto;
		}
	}

	.proj-img{
		text-align: center;
		margin-bottom: 20px;
	}

	.proj-title{
		font-family: $title-font-family;
		text-transform: capitalize;
		color: $gray-dark;
		display: flex;
		align-items: center;
		margin-bottom: 24px;
		justify-content: space-between;
		strong{
			color: $gray-dark;
			letter-spacing: normal;
			line-height: normal;
			font-weight: $font-bold;
			font-size: $font-xl;
			margin-right: 32px;
		}
		span{
			background: $main-color;
			font-size: $font-md;
			display: inline-block;
			padding: 8px 15px;
			font-weight: $font-bold;
		}
	}

	.proj-desc{
		line-height: 29px;
		letter-spacing: 0.03em;
		color: $gray;
		margin-bottom: $default-space*3;
	}

	.proj-details-block{
    margin-bottom: $default-space*2;
		h4{
			margin-bottom: $default-space;
			font-size: $font-md;
			span{
				display: inline-block;
				border-bottom: 3px solid $main-color;
				line-height: 32px;
				padding-bottom: 5px;
				color: $gray-dark;
			}
		}
		p{
			color: $gray;
		}
		&.proj-comments{
			p{
				color: $gray-light;
				font-style: italic;
				font-size: 14px;
			}
		}
		ul{
			list-style: none;
			color: $gray;
			li{
				position: relative;
				padding-left: 28px;
				margin-bottom: $default-space/2;
				i{
					position: absolute;
					left: 0;
					top: 5px;
					font-size: $font-xs;
				}
				&:last-child{
					margin: 0;
				}
			}
		}

		.comment-creator{
			margin-top: 32px;
			display: flex;
			align-items: center;
			margin-bottom: 40px;
			span{
				font-size: 14px;
				line-height: 23px;
			}
			a{
				@include border-radius(4px);
				display: inline-block;
				margin-left: 16px;
				background: $gray-dark;
				color: $main-color;
				padding: 3px 8px;
				font-size: $font-xs;
				font-weight: $font-bold;
				line-height: normal;
			}
		}
	}

	.proj-details-list{
		margin-bottom: $default-space*3;
		.section-title{
			font-size: $font-lg;
			margin-bottom: $default-space/2;
			.highlight-txt{
				padding-left: 20px;
				padding-right: 20px;
			}
		}
		ul{
			color: $gray;
			max-width: 500px;
			li{
				position: relative;
				letter-spacing: 0.03em;
				margin-bottom: 15px;
				padding-left: 40px;
				i{
					position: absolute;
					left: 0;
					font-size: $font-sm;
					top: 5px;
				}
				&:last-child{
					margin: 0;
				}
			}
		}
	}

	@media screen and (max-width: $break-lg){
		margin-bottom: 40px;
		.proj-title{
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			strong{
				margin: 0;
			}
			span{
				margin-top: 24px;
			}
		}	
	}
}

.process-section{
	background: $black-light;
	padding: $default-space*4 0;
	.section-title{
		color: $white;
	}
	.process-row{
		margin-bottom: $default-space*3;
	}
	.process-img{
		display: flex;
		justify-content: center;
	}

	.process-details{
		max-width: 390px;
		margin: 0 auto;
		&+ .process-details{
			margin-top: 50px;
		}
		span{
			display: block;
			color: $gray;
			font-size: $font-xxl;
			font-family: $title-font-family;
			font-weight: $font-bold;
		}
		h4{
			margin-top: 0;
			font-size: 28px;
			color: $white;
		}
		p{
			margin: 0;
			color: $white;
		}
	}
	@media screen and (max-width: $break-lg){
		.process-row{
			margin-bottom: 40px;
		}
	}

	@media screen and (max-width: $break-md){
		.process-details{
			h4{
				margin: 0;
			}
		}
	}
}


