/*===========================================
	Main Services styles
=============================================*/
.services-page{
	margin: 0 25px;
	@media screen and (max-width: $break-md){
		margin: 0;
	}

	ul{
		list-style: none;
		padding: 0;
		margin: 0;

		li{
			margin-bottom: 24px;

			.service-block{
				padding: 50px 110px;
				position: relative;
				border: 3px solid $gray-dark;
				height: 100%;
				@media screen and (max-width: 1024px){
					min-height: 410px;
				}
				@media screen and (max-width: $break-lg){
					min-height: 0;
				}
				> img{
					display: block;
					height: 56px;
				}
				h3{
					font-size: $font-lg;
					margin-top: $default-space/2;
					a{
						color: $white;
					}
				}
				p{
					margin-bottom: $default-space;

					+ a{
						&:not(.btn){
							padding-bottom: $default-space/2;
							display: inline-block;
							line-height: normal;
							font-weight: $font-bold;
							i{
								margin-left: 24px;
							}
							&:hover{
								opacity: .8;
							}

						}

					}
				}

				&.black-block{
					background: $black-light;
					h3{
						color: $white;
					}
					p{
						color: $white;

						+ a{
							&:not(.btn){
								color: $white;
								border-bottom: 3px solid $main-color;

							}
						}
					}
				}
				&.white-block{
					background: $white;

					h3 , p , a:not(.btn){
						color: $gray-dark;
					}
					p + a{
						&:not(.btn){
							border-bottom: 3px solid $main-color;

						}
					}
				}
			}
		}

		@media screen and (max-width: 1024px){
			li{
				.service-block{
					padding: $default-space*2;
					img{
						position: static;
						margin-bottom: 15px;
					}
					p{
						padding: 0;
						margin-bottom: $default-space;
						+ a{
							margin: 0;
						}
					}
				}		
			}
		}
		
		@media screen and (max-width: $break-sm){
			li{
				.service-block{
					padding: $default-space;
					h3{
						font-size: $font-xmd;
						margin-bottom: 5px;
					}
				}
			}
		}
	}
}


.tags-list{
	a , button{
		margin-right: $default-space;
		margin-bottom: $default-space;
		&.active{
			background: $gray-dark !important;
			color: $white !important;
			box-shadow: none;
		}
		&.active-work{
			background: $gray-dark !important;
			color: $white !important;
			box-shadow: none;
		}
		@media screen and (max-width: $break-md){
			font-size: $font-xs;
			padding: $default-space/2;
			height: 45px;
			line-height: normal;
			margin-right: $default-space/2;
			margin-bottom: 15px;
		}
	}
}

.tech-section{
	padding-top: $default-space*3;
	.section-title{
		margin-bottom: 120px;
	}
	.tech-details{
		color: $gray-dark;
		img{
			margin: 0 auto;
			height: 144px;
			display: block;
		}
		p{
			margin:$default-space*2 0;
		}
		a{
			padding-bottom: 15px;
			display: inline-block;
			line-height: normal;
			font-weight: $font-bold;
			border-bottom: 3px solid $gray-dark;
			color: $gray-dark;
			float: right;
			i{
				margin-left: 24px;
			}	
			&:hover{
				color: $main-color;
				border-color: $main-color;
			}	
		}
	}

	@media screen and (max-width: $break-lg){
		padding: 30px 0;
		.section-title{
			margin-bottom: $default-space;
		}
	}
}

.rel-proj-section{
	padding-top: $default-space*3;

	@media screen and (max-width: $break-lg){
		padding: 30px 0;
	}
}

.stats-section{
	background: $black-light;
	color: $white;
	padding-top: $default-space*2;
	.stats-block{
		margin-bottom: $default-space*2;
		text-align: center;
		strong{
			display: block;
			font-family: $title-font-family;
			font-weight: $font-bold;
			font-size: $font-xxl;
			display: flex;
			align-items: center;
			justify-content: center;
			i{
				font-size: 60px;
				line-height: 50px;
				margin-left: 5px;
				font-style: normal;
			}
		}
		span{
			display: block;
			font-size: 16px;
			font-weight: $font-bold;
			line-height: normal;
			letter-spacing: 0.03em;
			text-transform: uppercase;
		}
	}

	@media screen and (max-width: $break-md){
		padding-top: 30px;
		.stats-block{
			text-align: center;
			strong{
				font-size: $font-xl;
				justify-content: center;
				i{
					font-size: 50px;
					line-height: 40px;
				}
			}
			span{
				margin-top: 0;
			}
		}
	}

	&-landing{
		background: none;
		color: $gray-dark;
		margin-bottom: $default-space*2;
		@media screen and (max-width: $break-lg){
			margin-bottom: 0;
		}
	}
}